<ngx-loading [show]="loading"></ngx-loading>

<div class="page">
  <div class="page-list-wrapper">
    <input type="text" class="form-control search-gems-input" placeholder="Search"
           [ngModel]='searchModel' (ngModelChange)='search($event)'
    >
    <h4 class="sub-title title">My Gems</h4>
    <ul class="list-ul">
      <li class="list-item"
          *ngFor="let gem of gems; let i = index"
          [ngClass]="{'list-item-first': i === 0, 'active': chosenGem && gem.beaconName === chosenGem.beaconName}"
          (click)="changeChosenGem(i)"
      >
        {{  returnBeaconName(gem.description) }}
      </li>
    </ul>
  </div>

  <div class="page-item-view">
    <div *ngIf="chosenGem">
      <div class="item-header">
        <div class="item-title">
          <h5>{{returnBeaconName(chosenGem.description)}}</h5>
        </div>
        <div class="item-save">
          <button class="btn btn-success" (click)="saveGem()">SAVE</button>
        </div>
      </div>
      <div class="item-view-body">
        <app-gems-message [chosenGem]="chosenGem"
                          [weekDays]="weekDays"
                          [submit]="submit"
                          [urlError]="urlError"
                          (changeInputData)="onChangeInputData($event)"
        ></app-gems-message>
      </div>
    </div>
    <div *ngIf="!chosenGem" class="not-found-txt">Not found</div>
  </div>
</div>



