@import "../../../../styles.css";

body::-webkit-scrollbar {
  width: 1em;
}

.page-list-wrapper {
  width: 270px;
  height: 75vh;
  float: left;

  .search-gems-input {
    width: 250px;
  }

  .title {
    border-width: 2px;
    margin: 10px 0 15px 0 !important;
    width: 250px;
  }

  .list-item-first {

  }

  .list-ul {
    height: 66vh;
    max-height: 66vh;
    overflow-y: auto;

    .list-item {
      border-bottom: 1px solid rgba(0,0,0,.15);
      padding: 10px 20px;
      width: 250px;
      display:inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .list-item:hover {
      cursor: pointer;
      background: #0073AA;
      border-color: #0073AA;
    }

    .list-item.active {
      background: #0073AA;
      border-color: #0073AA;
      color: #fff;
    }
  }
}

.page-item-view {
  width: 65%;
  float: left;
  margin-left: 50px;

  .item-header {
    height: 100px;

    .item-title {
      float: left;
      padding: 5px 20px 7px 5px;
      border-bottom: 2px solid #FC7D74;
    }

    .item-save {
      float: right;
      margin-right: 2%;
    }
  }

  .item-view-body {
  }

  .not-found-txt {
    text-align: center;
  }
}

.btn {
  padding: 7px 30px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  border-radius: 2px;
  height: 30px !important;
}
