@import "../../../../styles.css";

.card-header-right {
  display: none !important;
}

.actions-wrap {
  height: 42px;
  margin-bottom: 15px;

  .beacons-search {
    width: 300px;
    height: 41px;
    float: left;
  }

  .actions-btn {
    margin-left: 30px;
    float: left;
  }
}

.beacon-table {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;

  .head-th {
    font-size: 14px;
    padding-bottom: 20px !important;
  }

  .body-th {
    font-size: 14px;
    font-weight: 100;
  }

  .body-tr:hover {
    cursor: pointer;
  }
}

.beacon-cb-block {
  margin-top: -12px !important;
}

table tr {
  padding-bottom: 0 !important;
  height: 52px;
}

table th {
  border-top: none !important;
  padding-top: 0.5rem;
}

.action-btn {
  width: 61px;
  padding: 7px 15px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  border-radius: 2px;
  height: 30px !important;
}

.view-btn {
  margin: -10px 0 0 25%;
}

/deep/ .ngx-datatable .datatable-footer .page-count {
  display: none !important;
}

/deep/ .data-table datatable-header-cell.sortable:before {
  top: 6px !important;
}

/deep/ .data-table datatable-header-cell.sortable:after {
  top: 6px !important;
}

/deep/ .ngx-datatable {
   font-size: 12px !important;
}

/deep/ .checkbox-fade {
  margin-top: -15px !important;
}
