<ngx-loading [show]="loading"></ngx-loading>

<div class="actions-wrap">
  <input type="text" class="form-control beacons-search" placeholder="Search"
         [ngModel]='searchModel' (ngModelChange)='search($event)'
  >
  <!--<button class="btn btn-info actions-btn" (click)="selectAllItems()" >SELECT ALL</button>-->
  <button class="btn btn-inverse actions-btn" *ngIf="chosenBeacons.length" (click)="changeStatus()" >
    {{status === 'active' ? 'ACTIVATE' : 'DEACTIVATE'}}
  </button>
</div>

<div class="row" style="clear: both">
  <div class="col-sm-12">
    <app-card [title]="''" [classHeader]="true">
      <ngx-datatable
        *ngIf="!loading"
        #table
        class="data-table"
        [rows]="beacons"
        [columns]="columns"
        [columnMode]="'standart'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [limit]="limit"
        [offset]="offset"
        [count]="count"
        [selected]="chosenBeacons"
        [selectionType]="'checkbox'"
        [reorderable]="reorderable"
        [scrollbarH]="true"
        (select)='onSelect($event)'
        (page)="onPage($event)">
        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <div class="checkbox-fade fade-in-default datatable-header-cell-label">
              <label>
                <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              </label>
            </div>

          </ng-template>
          <ng-template class="datatable-checkbox" ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <div class="checkbox-fade fade-in-default datatable-header-cell-label">
              <label>
                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              </label>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ACTIONS" prop="_id" [sortable]="false">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-success action-btn view-btn" (click)="goToEditBeacon(value)">View</button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="CUSTOMER NAME" prop="customer">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="CUSTOMER EMAIL" prop="customer">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.email}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="BEACON ID" prop="description">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value ? value.slice(-4) : '-'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ORDER STATUS" prop="orderStatus">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{returnOrderStatus(value)}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="BEACON STATUS" prop="status">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.charAt(0) + value.toLowerCase().slice(1)}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="MESSAGE" prop="attachments">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value && value.length ? value[0].notificationMessage.title: '-'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="LINK" prop="attachments">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value && value.length ? value[0].notificationMessage.url : '-'}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <!--<div class="table-responsive">-->
        <!--&lt;!&ndash;<span class="code-header">Selected 6 items</span>&ndash;&gt;-->
        <!--<table class="table table-hover beacon-table">-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th class="head-th"></th>-->
            <!--<th class="head-th">CUSTOMER NAME</th>-->
            <!--<th class="head-th">CUSTOMER EMAIL</th>-->
            <!--<th class="head-th">BEACON ID</th>-->
            <!--<th class="head-th">ORDER STATUS</th>-->
            <!--<th class="head-th">BEACON STATUS</th>-->
            <!--&lt;!&ndash;<th class="head-th">SERVICE ACCOUNT</th>-->
            <!--<th class="head-th">PROJECT ID</th>&ndash;&gt;-->
            <!--<th class="head-th">MESSAGE</th>-->
            <!--<th class="head-th">LINK</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr class="body-tr" *ngFor="let beacon of beacons; let i = index">-->
            <!--<th scope="row">-->
              <!--<div class="checkbox-fade fade-in-primary beacon-cb-block">-->
                <!--<label>-->
                  <!--<input id="{{'beacon-' + i}}" class="beacon-checkbox" type="checkbox"-->
                         <!--(click)="selectBeacon($event, beacon)"-->
                  <!--&gt;-->
                  <!--<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>-->
                  <!--<span class="text-inverse"></span>-->
                <!--</label>-->
              <!--</div>-->
            <!--</th>-->
            <!--<th class="body-th" (click)="goToEditBeacon(beacon._id)">-->
              <!--{{beacon.customer.firstName + ' ' + beacon.customer.lastName}}-->
            <!--</th>-->
            <!--<th class="body-th" (click)="goToEditBeacon(beacon._id)">{{returnOrderStatus(beacon.orderStatus)}}</th>-->
            <!--<th class="body-th" (click)="goToEditBeacon(beacon._id)">{{beacon.status.charAt(0) + beacon.status.toLowerCase().slice(1)}}</th>-->
            <!--<th class="body-th" (click)="goToEditBeacon(beacon._id)">{{beacon.customer.email}}</th>-->
            <!--<th class="body-th" (click)="goToEditBeacon(beacon._id)">{{beacon.beaconName.split('/')[1].slice(-4)}}</th>-->
            <!--&lt;!&ndash;<th class="body-th" (click)="goToEditBeacon(beacon._id)">-->
              <!--{{beacon.project ? beacon.project.account.developerAccount: '-'}}-->
            <!--</th>-->
            <!--<th class="body-th" (click)="goToEditBeacon(beacon._id)">-->
              <!--{{beacon.project ? beacon.project.projectId: '-'}}-->
            <!--</th>&ndash;&gt;-->
            <!--<th class="body-th" (click)="goToEditBeacon(beacon._id)">{{beacon.attachments[0].notificationMessage.title}}</th>-->
            <!--<th class="body-th" (click)="goToEditBeacon(beacon._id)">{{beacon.attachments[0].notificationMessage.url}}</th>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->
    </app-card>
  </div>
</div>
