<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form [formGroup]="form" class="md-float-material">
            <div class="text-center">
              <img src="assets/images/auth/logo.png" alt="logo.png">
            </div>
            <div class="auth-box">
              <div *ngIf="!isRestoreEmailSendSuccessful" class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">You forgot your Password? </h3>
                  <h3 class="text-left">Don't worry.</h3>
                </div>
              </div>
              <p *ngIf="!isRestoreEmailSendSuccessful" class="text-inverse b-b-default text-right">Back to <a [routerLink]="['/auth', 'login']">Login.</a>
              </p>


              <div *ngIf="!isRestoreEmailSendSuccessful" class="input-group">

                <input (input)="onFieldInput()" formControlName="emailAddress" type="text" class="form-control" placeholder="Your Email Address"
                       [ngClass]="!form.controls['emailAddress'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">

                <span class="md-line"></span>
              </div>

              <div  class="error-container" *ngIf="!isRestoreEmailSendSuccessful && !form.controls['emailAddress'].valid && isSubmitPressed">
                <label *ngIf="form.controls['emailAddress'].errors.required"
                       class="error-label">{{requiredEmailLabel}}</label>
                <label
                  *ngIf="(form.controls['emailAddress'].errors.invalidEmail && form.controls['emailAddress'].value.length > 0 && !isRestoreEmailSendSuccessful)"
                  class="error-label">{{invalidEmailLabel}}</label>
              </div>


              <div *ngIf="!isRestoreEmailSendSuccessful" class="row">
                <div class="col-md-12">
                  <button (click)="resetPasswordClick()" type="button"
                          class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Reset
                    and send me a new Password
                  </button>
                </div>
              </div>

              <div *ngIf="isRestoreEmailSendSuccessful" class="row">
                <div class="col-md-12">
                 <h3 id="success-label">Restore successful!</h3>
                </div>
              </div>

              <div *ngIf="isRestoreEmailSendSuccessful" class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <label id="check-email-label">Please, check your <strong>{{this.form.controls['emailAddress'].value}}</strong> email box!</label>
                </div>
                <div class="col-md-2"></div>
              </div>


              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Royaltie Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" id="small-logo" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
