@import "../../../../styles.css";

.card-header-right {
  display: none !important;
}

.actions-wrap {
  height: 42px;
  margin-bottom: 15px;

  .projects-search {
    width: 300px;
    height: 41px;
    float: left;
  }

  .actions-btn {
    margin-left: 30px;
    float: left;
  }
}

.project-table {
  display: block;

  .head-th {
    font-size: 14px;
    padding-bottom: 20px !important;
  }

  .body-th {
    font-size: 14px;
    font-weight: 100;
  }

  .body-tr:hover {
    cursor: pointer;
  }
}

table tr {
  padding-bottom: 0 !important;
  height: 52px;
}

table th {
  border-top: none !important;
  padding-top: 0.5rem;
}

.acc-th {
  color: #59808E !important;
  /*width: 250px;*/
  margin-top: -5px !important;
  overflow:hidden !important;
  display:inline-block !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;

  &:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
  }
}

.create-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  .create-popup {
    width: 300px;
    min-height: 300px;
    border: 2px solid #ccc;
    background: #fff;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    box-shadow: 2px 2px 20px #999;

    .popup-title {
      color: #59808E;
      margin-bottom: 10px;
    }

    .form-error {
      color: red;
      font-size: 12px;
    }
  }
}

/deep/ .ngx-datatable .datatable-footer .page-count {
  display: none !important;
}

/deep/ .ngx-datatable {
  font-size: 13px !important;
}
