<ngx-loading [show]="loading"></ngx-loading>

<div class="actions-wrap">
  <input type="text" class="form-control projects-search" placeholder="Search"
         [ngModel]='searchModel' (ngModelChange)='search($event)'
  >
  <button class="btn btn-success actions-btn" (click)="showProjectPopup()">ADD NEW PROJECT</button>
</div>

<div class="row" style="clear: both">
  <div class="col-sm-12">
    <app-card [title]="''" [classHeader]="true">
      <ngx-datatable
        *ngIf="!loading"
        #table
        class="data-table"
        [rows]="projects"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [reorderable]="reorderable"
        [offset]="offset"
        [count]="count"
        [limit]="limit"
        (page)="onPage($event)">
        <ngx-datatable-column name="PROJECT ID" prop="projectId">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="SERVICE ACCOUNT" prop="account">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <div class="acc-th" (click)="showAccountPopup(value.developerAccount)">{{value.developerAccount}}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="NUMBER OF BEACONS" prop="numberOfBeacons">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value || '-'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="PURPOSE">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value || '-'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="STATUS" prop="status">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.charAt(0) + value.toLowerCase().slice(1)}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <!--<div class="table-responsive">-->
        <!--&lt;!&ndash;<span class="code-header">Selected 6 items</span>&ndash;&gt;-->
        <!--<table class="table table-hover project-table">-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th class="head-th">PROJECT ID</th>-->
            <!--<th class="head-th">SERVICE ACCOUNT</th>-->
            <!--<th class="head-th">NUMBER OF BEACONS</th>-->
            <!--<th class="head-th">PURPOSE</th>-->
            <!--<th class="head-th">STATUS</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr class="body-tr" *ngFor="let project of projects; let i = index">-->
            <!--<th class="body-th">{{project._id}}</th>-->
            <!--<th class="body-th acc-th" (click)="showAccountPopup(project.account.developerAccount)">{{project.account.developerAccount}}</th>-->
            <!--<th class="body-th">{{project.numberOfBeacons || '-'}}</th>-->
            <!--<th class="body-th">{{project.purpose || '-'}}</th>-->
            <!--<th class="body-th">{{project.status.charAt(0) + project.status.toLowerCase().slice(1)}}</th>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->
    </app-card>
  </div>
</div>

<div class="create-wrap" *ngIf="accountPopup">
  <div class="create-popup">
    <h4 class="popup-title">Edit Account</h4>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control create-field" placeholder="Email"
               [(ngModel)]="email"
               (change)="inputChange('email')"
        >
        <span class="form-error" *ngIf="submit && errors.email">{{errors.email}}</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control create-field" placeholder="Password"
               [(ngModel)]="password"
               (change)="inputChange('password')"
        >
        <span class="form-error" *ngIf="submit && errors.password">{{errors.password}}</span>
      </div>
      <button class="btn btn-success actions-btn" (click)="editAccount()">Save</button>
      <button class="btn btn-inverse actions-btn" style="float: right" (click)="closeAccountPopup()">Close</button>

  </div>
</div>
