<div class="screen">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="header-text-container">
          <img src="assets/images/auth/royaltie-order.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="header-text-container">
          <h3>Success!</h3>
          <h3>Thank you for ordering Royaltie Gems!</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-sm-4">

      </div>
      <div class="col-xs-4 col-sm-4">
        <div class="counter-order-text">
          <button (click)="onLoginClick()" type="button"
                  class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN NOW
          </button>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4">

      </div>


    </div>
  </div>
