/* You can add global styles to this file, and also import other style files */

aside.pcoded-slider.ng-sidebar {
  top: 56px;
}

.slimscroll-wrapper, .scroll-window {
  width: 100% !important;
}

.userlist-box.show {
  display: -webkit-box;
}

.userlist-box.hide {
  display: none;
}

.img-fluid {
  max-width: 70% !important;
}

.logout {
  position: absolute;
  right: 3vw;
  top: 3.5vh;
  background: white;
}

.logout label {
  cursor: pointer;
  color: #474846;
  font-weight: 500;
}

.router-link:hover {
  cursor: pointer;
}

#logout-label {
  display: inline-block;
  position: sticky;
  left: 92%;
  top: 3.5%;
  cursor: pointer;
}

