@import "../../../../styles.css";

.auth-fluid {
  margin-top: -13vh;
}

.error-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: inherit;
  padding-left: 2px;
  padding-top: 10px;
}

.error-container .error-label {
  position: relative !important;
  left: 0 !important;
  color: red !important;
  text-align: left !important;
  margin-top: -30px !important;
  font-size: 13px;
}

#error-message {
  color: red;
  font-weight: 700;
}

#logo {
  width: 60%;
}
