<ngx-loading [show]="loading"></ngx-loading>
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form [formGroup]="loginForm" class="md-float-material">
            <div class="text-center">
              <img id="logo" src="assets/images/auth/logo-white.png" alt="logo-white.png">
            </div>
            <div class="auth-box">
              <p class="text-inverse b-b-default text-left p-b-5">Welcome back, please sign in</p>


              <div class="input-group">
                <input (input)="onInput()" formControlName="login" type="email" placeholder="E-mail"
                       [ngClass]="!loginForm.controls['login'].valid && loginForm.controls['login'].touched ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>
              <div class="error-container"
                   *ngIf="!loginForm.controls['login'].valid && loginForm.controls['login'].touched">
                <label class="error-label">{{invalidEmailMessage}}</label>
              </div>


              <div class="input-group">
                <input (input)="onInput()" formControlName="password" type="password"
                       [ngClass]="!loginForm.controls['password'].valid && loginForm.controls['password'].touched ? 'form-control form-control-danger' : 'form-control'"
                       placeholder="Password">
                <span class="md-line"></span>
              </div>
              <div class="error-container"
                   *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                <label class="error-label">{{invalidPasswordMessage}}</label>
              </div>


              <div class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                </div>
                <div class="col-sm-12 col-xs-12 forgot-phone text-center">
                  <a [routerLink]="['/auth', 'forgot-password']" class="text-right f-w-600 text-inverse"> Forgot
                    Password?</a>
                </div>
              </div>

              <div *ngIf="isErrorPresent" class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                </div>
                <div class="col-sm-12 col-xs-12 forgot-phone text-center">
                  <label id="error-message">{{loginErrorMessage}}</label>
                </div>
              </div>

              <div class="row m-t-30">
                <div class="col-md-12">
                  <button (click)="onLogin()" type="button"
                          class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
