@import "../../../../styles.css";

.strong-p {
  margin-top: 40px;
}

.message-form-row {
  height: 45px;

  .field-label {
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin: 8px 10px 0 0 ;
  }

  .form-text-field {
    float: left;
    width: 200px;
  }

  .save-btn {
    margin: 0 0 0 10px;
    height: 37px;
    padding-top: 8px !important;
  }
}

.code-error {
  clear: both;
  color: red;
  font-size: 12px;
  margin-left: 16%;
}