<div class="profile-materials-wrapper"><h2><strong>{{returnName()}}</strong></h2>
  <p class="strong-p"><strong>Below are your affiliate links to share with your prospects.</strong></p>
  <p>Homepage: <a href={{returnFirstLink()}} target="_blank">{{returnFirstLink()}}</a></p>
  <p>Order page: <a href={{returnSecondLink()}} target="_blank">{{returnSecondLink()}}</a></p>

  <div class="message-form-row">
    <label class="field-label" for="code">Change Affiliate Code: </label>
    <input id="code" maxlength="50" type="text" class="form-control form-text-field" placeholder="Affiliate code"
           value={{newAffiliateCode}}
           (change)="changeCodeValue($event)"
    >
    <button disabled class="btn btn-success save-btn" (click)="saveNewAffiliateCode()">Save (coming soon)</button>
  </div>
  <span *ngIf="submit && !newAffiliateCode" class="code-error">Enter code</span>

  <p class="strong-p"><strong>Click below to access your training video playlist. </strong></p>
  <p><strong><a href="https://www.youtube.com/watch?v=ZOFNKkFZW5o&list=PL5vcCfIlXA9t7ZtyXByGoLxVhMzIbDj-3"
                target="_blank">Link to Training Video Playlist</a></strong></p>
  <p></p>
  <p class="strong-p"><strong>Click below to access your Royaltie Compensation Plan Effective Oct 1st.</strong></p>
  <p><a href="https://drive.google.com/drive/folders/0BxmyAED2EwbwdUdUQ1l6akxxdU0?usp=sharing" target="_blank"><strong>Link to Affiliate
    Compensation Plan Effective Oct 1st</strong> </a> <strong><br></strong></p>
  <p></p>
  <p class="strong-p"><strong>Click below to access your Royaltie Introductory Presentation Effective Oct 1st </strong></p>
  <p><strong><a href="https://drive.google.com/drive/folders/0BxmyAED2EwbwVk4xRG40TVhyY0E?usp=sharing" target="_blank">Link
    to Affiliate Royaltie Introductory Presentation Effective Oct 1st</a></strong></p>
  <p></p>
  <p class="strong-p"><strong>Click below to access your affiliate marketing materials. </strong></p>
  <p><strong><a href="https://drive.google.com/drive/folders/0BxmyAED2EwbwbTZvMzZ3b3NGdkE?usp=sharing" target="_blank">Link
    to Affiliate Marketing Materials<br></a></strong></p>
  <p></p>
  <p class="strong-p"><strong>Click below to access your affiliate marketing materials in Spanish. </strong></p>
  <p><strong><a href="https://drive.google.com/drive/folders/0BxmyAED2EwbwZk5PR0U5OUsweWs?usp=sharing" target="_blank">Link
    to Affiliate Marketing Materials in Spanish</a></strong></p></div>
