@import "../../../../styles.css";

/*.page {
  display: flex;
}*/

body::-webkit-scrollbar {
  width: 1em;
}

.page-list-wrapper {
  width: 250px;
  height: 41vw;
  max-height: 41vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
  float: left;

  .title {
    border-width: 2px;
    margin: 10px 0 15px 0 !important;
  }

  .list-item-first {
    border-top: 1px solid rgba(0, 0, 0, .15);
  }

  .list-item {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding: 4px 6px;
    width: 230px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -1vh;
  }

  .list-item:hover {
    cursor: pointer;
    background: #0073AA;
    border-color: #0073AA;
    color: white;

    label {
      cursor: pointer;
    }
  }

  .list-item-active {
    background: #0073AA;
    border-color: #0073AA;
    color: #fff;
    width: 100%;
    padding: 4px 4px;
    margin-top: -1vh;
  }
}

.page-item-view {
  width: 65%;
  float: left;
  margin-left: 50px;

  .item-header {
    height: 100px;

    .item-title {
      float: left;
      padding: 5px 20px 7px 5px;
      border-bottom: 2px solid #FC7D74;
    }

    .item-save {
      float: right;
      margin-right: 2%;
    }
  }

  .item-view-body {
  }

  .not-found-txt {
    text-align: center;
  }
}

.btn {
  padding: 7px 30px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  border-radius: 2px;
  height: 30px !important;
}

.content {
  display: block;
  width: 300px;
  height: 400px;
  background: black;
}

.page-item-info {
  margin: 0 !important;
}

.error-label {
  color: red;
}

.shipping-column {
  display: flex;
  flex-direction: column;
}

.shipping-row {
  display: flex;
  align-items: center;
}

.shipping-input {
  margin-left: 15vw;
}

/deep/ .pcoded-main-container {
  overflow-y: auto !important;
  padding-bottom: 10vh !important;
}

#ship-button {
  background: green;
  width: 10vw;
  margin-left: 10vw;
  color: white;
}


#corrected-shipping-label {
  margin-left: 8vw;
}

.table-title-row {
  font-weight: 500;
  padding-right: 20vw;
  width: 20vw;
}

.value-label {
  width: 7.6vw;
}

.beacon-table {
/*  display: block;
  overflow-x: auto;*/
  margin-top: -4vh;

  .head-th {
    font-size: 14px;
    padding-bottom: 20px !important;
  }

  .body-th {
    font-size: 14px;
    font-weight: 100;
  }

  .body-tr:hover {
    cursor: pointer;
  }

  .beacon-cb-block {
    margin-top: -25px;
  }
}

table tr {
  padding-bottom: 0 !important;
  height: 52px;
}

table th {
  border-top: none !important;
  padding-top: 0.5rem;
}

/deep/ .card-header-right {
  display: none !important;
}
