<ngx-loading [show]="loading"></ngx-loading>

<div class="page">
  <div class="page-list-wrapper">
    <input type="text" class="form-control" placeholder="Search"
           [ngModel]='searchModel' (ngModelChange)='search($event)'
    >
    <h4 class="sub-title title">Beacon Shipment</h4>
    <ul>

      <li *ngFor="let customer of customers" (click)="onCustomerSelect(customer)"
          [ngClass]="customer._id === selectedCustomer._id ? 'list-item-active': 'list-item'">
        <label>{{customer.firstName}} {{customer.lastName}}</label>
      </li>

    </ul>
  </div>

  <div class="page-item-view" *ngIf="selectedCustomer != null">
    <label>CLIENT INFORMATION</label>
    <button (click)="onShipClick()" id="ship-button">SHIP</button>
    <p>
      <strong><label>Customer Name</label></strong><br>
      <label>{{selectedCustomer.firstName}}</label>
    </p>

    <p>
      <strong><label>Customer Email</label></strong><br>
      <label>{{selectedCustomer.email}}</label>
    </p>

    <p>
      <strong><label>Phone number</label></strong><br>
      <label>{{selectedCustomer.homePhone}}</label>
    </p>


    <div class="shipping-column">
      <span> <label>SHIPPING INFORMATION</label>  <label
        id="corrected-shipping-label">CORRECTED SHIPPING INFORMATION</label></span>

      <div class="shipping-row">
        <p>
          <strong>Address</strong><br>
          <label class="value-label">{{selectedCustomer.address}}</label>
        </p>
        <input class="shipping-input" placeholder="Address" [(ngModel)]="address">
      </div>
      <div class="shipping-row">
        <p>
          <strong>City</strong><br>
          <label  class="value-label">{{selectedCustomer.city}}</label>
        </p>
        <input class="shipping-input" placeholder="City" [(ngModel)]="city">
      </div>
      <div class="shipping-row">
        <p>
          <strong>State</strong><br>
          <label  class="value-label">{{selectedCustomer.state}}</label>
        </p>
        <input class="shipping-input" placeholder="State" [(ngModel)]="state">
      </div>
      <div class="shipping-row">
        <p>
          <strong>Country</strong><br>
          <label  class="value-label">{{selectedCustomer.country}}</label>
        </p>
        <input class="shipping-input" placeholder="Country" [(ngModel)]="country">
      </div>
      <div class="shipping-row">
        <p>
          <strong>ZIP</strong><br>
          <label class="value-label">{{selectedCustomer.zip}}</label>
        </p>
        <input class="shipping-input" placeholder="zip" [(ngModel)]="zip">
      </div>

    </div>

    <p></p>

    <app-card [title]="'NEW BEACON INFORMATION'" [classHeader]="false">
      <div class="table-responsive">
        <table class="table table-hover beacon-table">
          <thead>
          <tr>
            <th class="head-th">BEACON ID</th>
            <th class="head-th">ORDER STATUS</th>
            <th class="head-th">BEACON STATUS</th>
          </tr>
          </thead>

          <tbody>
          <tr class="body-tr" *ngFor="let customerProvisionedBeacon of customerProvisionedBeacons; let i = index">
            <th class="body-th">{{customerProvisionedBeacon.description.slice(customerProvisionedBeacon.description.length - 4, customerProvisionedBeacon.description.length)}}</th>
            <th class="body-th">PROVISIONED</th>
            <th class="body-th">{{customerProvisionedBeacon.status}}</th>
          </tr>
          </tbody>

        </table>
      </div>
    </app-card>

  </div>

</div>



