@import "../../../../styles.css";

.auth-fluid {
  margin-top: -13vh;
}

#logo {
  width: 40%;
}

#main-title {
  color: white;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 3vh;
  color: #000;
}

.auth-box {
  background: white;
  height: 45vh;
  width: 40vw;
}

h5 {
  margin-top: 2vh;
  color: #000;
}

h4 {
  color: #000;
}

button {
  margin-top: -2vh;
}
