<ngx-loading [show]="loading"></ngx-loading>
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <div class="md-float-material">
            <div class="text-center">
              <img id="logo" src="assets/images/auth/logo-white.png" alt="logo-white.png">
            </div>
            <div class="auth-box">
              <label id="main-title">Page not found!</label>

              <h5>Looks like the page you`re trying to visit doesn`t exist.</h5>

              <h5>Maybe you are looking for <strong>Login</strong> or <strong>Order Form</strong>?</h5>

              <div class="row m-t-30">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <button (click)="onLoginClick()"  type="button"
                          class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN
                  </button>
                </div>
                <div class="col-md-4">
                  <button (click)="onOrderClick()"  type="button"
                          class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">ORDER
                  </button>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
