/* You can add global styles to this file, and also import other style files */

aside.pcoded-slider.ng-sidebar {
  top: 56px;
}

.slimscroll-wrapper, .scroll-window {
  width: 100% !important;
}

.userlist-box.show {
  display: -webkit-box;
}

.userlist-box.hide {
  display: none;
}

.img-fluid {
  max-width: 70% !important;
}
