.page-item-info {
  float: left;
  /*width: 25%;*/
  background: #fff;
  padding: 10px;
  margin-top: -30px;

  .item-info-block {
    padding-bottom: 10px;

    .info-block-title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
      border-bottom: 1px solid #000;
    }

    .info-block-field {
      font-size: 12px;
      font-weight: bold;
    }

    .info-block-value {
      font-size: 12px;
    }
  }
}
