<div *ngIf="beacon" class="page-item-info">
  <div class="item-info-block">
    <div class="info-block-title">CLIENT INFORMATION</div>

    <div class="info-block-field">Customer Name</div>
    <div *ngIf="beacon.customer != null" class="info-block-value">{{beacon.customer.firstName}}</div>

    <div class="info-block-field">Customer Email</div>
    <div *ngIf="beacon.customer != null" class="info-block-value">{{beacon.customer.email}}</div>
  </div>
  <div class="item-info-block">
    <div class="info-block-title">BEACON INFORMATION</div>

    <div class="info-block-field">ID</div>
    <div class="info-block-value">{{beacon._id}}</div>

    <div class="info-block-field">Account</div>
    <div class="info-block-value">{{beacon.project && beacon.project.account ? beacon.project.account.developerAccount: ''}}</div>

    <div class="info-block-field">Beacon Name</div>
    <div class="info-block-value">{{beacon.beaconName.split('/')[1]}}</div>

    <div class="info-block-field">Description</div>
    <div class="info-block-value">{{beacon.description}}</div>

    <div class="info-block-field">Status</div>
    <div class="info-block-value">{{beacon.status.charAt(0).toUpperCase() + beacon.status.toLowerCase().slice(1)}}</div>

    <div class="info-block-field">Created On</div>
    <div class="info-block-value">{{parseDate(beacon.createdOn)}}</div>

    <div class="info-block-field">Created By</div>
    <div class="info-block-value">{{beacon.createdBy}}</div>

    <div class="info-block-field">Updated On</div>
    <div class="info-block-value">{{parseDate(beacon.updatedOn)}}</div>

    <div class="info-block-field">Updated By</div>
    <div class="info-block-value">{{beacon.updatedBy}}</div>
  </div>
</div>
