<ngx-loading [show]="loading"></ngx-loading>
<div class="page">
  <div class="page-list-wrapper">
    <input type="text" class="form-control" placeholder="Search"
           [ngModel]='searchModel' (ngModelChange)='search($event)'
    >
    <h4 class="sub-title title">Beacons to Activate</h4>
    <ul>
      <li *ngFor="let customer of customers; let i = index">
        <label class="customer-initials">{{customer.firstName}} {{customer.lastName}}</label>

        <ul>
          <li *ngFor="let innerListItem of customer.unassignedBeaconsArray" (click)="onActivateBeacon(innerListItem)"
              [ngClass]="innerListItem.index === selectedIndex ? 'list-item-active': 'list-item'">
            <label>New Beacon</label>
          </li>
        </ul>

      </li>
    </ul>
  </div>

  <div class="page-item-view">
    <input (input)="onIdEntered()" [(ngModel)]="beaconIdValue" placeholder="Beacon ID">
    <button [disabled]="beaconIdValue.length < 4 || beaconIdValue.length > 4" (click)="onFind()">Find</button>
    <button (click)="onProvisionClick()" [disabled]="chosenGem == null || chosenGem.customer != null">Provision</button>
    <p>
  </div>

  <div>
    <app-client-beacon-right-block [beacon]="chosenGem"></app-client-beacon-right-block>
  </div>
</div>



