<ngx-loading [show]="loading"></ngx-loading>

<div class="page row">
  <div class="page-list-wrapper">
    <input type="text" class="form-control search-gems-input" placeholder="Search"
           [ngModel]='searchModel' (ngModelChange)='search($event)'
    >
    <h4 class="sub-title title">Change Requests</h4>
    <!--<span class="open-title">{{'Open(' + changeRequests.length + ')'}}</span>-->
    <ul class="list-ul">
      <li class="list-item"
          *ngFor="let request of changeRequests; let i = index"
          [ngClass]="{'list-item-first': i === 0, 'active': chosenChangeRequest && request._id === chosenChangeRequest._id}"
          (click)="changeChosenChangeRequest(i)"
      >
        {{ returnBeaconName(request.description) }}
      </li>
    </ul>
  </div>

  <div class="page-item-view">
    <div *ngIf="chosenChangeRequest">
      <div class="item-header">
        <div class="item-title">
          <h5>{{returnBeaconName(chosenChangeRequest.description, 'title')}}</h5>
        </div>
      </div>
      <div class="item-view-body">
        <div class="message-wrapper" *ngFor="let msg of chosenChangeRequest.attachmentsRequest; index as i">
          <div class="message-header">
            <div class="message-title">{{'Message ' + (i + 1)}}</div>
          </div>
          <div class="message-form">
            <div class="message-fields-row">
              <div class="message-fields-block">
                <div class="message-field-title">CURRENT MESSAGE</div>
                <div class="message-field-value">{{chosenChangeRequest.attachments[0].notificationMessage.title}}</div>
              </div>
              <div class="message-fields-block">
                <div class="message-field-title">CURRENT LINK</div>
                <div class="message-field-value">{{chosenChangeRequest.attachments[0].notificationMessage.url}}</div>
              </div>
              <div class="message-fields-block lang-block">
                <div class="message-field-title"></div>
                <div class="message-field-value">
                  {{chosenChangeRequest.attachments[0].namespacedType ?
                  chosenChangeRequest.attachments[0].namespacedType.slice(-2).toUpperCase() : ''}}
                </div>
              </div>
            </div>
            <div class="message-fields-row">
              <div class="message-fields-block">
                <div class="message-field-title">REQUESTED MESSAGE</div>
                <div class="message-field-value">{{msg.notificationMessage ? msg.notificationMessage.title: ''}}</div>
              </div>
              <div class="message-fields-block">
                <div class="message-field-title">REQUESTED LINK</div>
                <div class="message-field-value">{{msg.notificationMessage ? msg.notificationMessage.url: ''}}</div>
              </div>
              <div class="message-fields-block lang-block">
                <div class="message-field-title"></div>
                <div class="message-field-value">
                  {{msg.namespacedType ? msg.namespacedType.slice(-2).toUpperCase() : ''}}
                </div>
              </div>
            </div>
            <div class="message-fields-row">
              <div class="actions-block">
                <button class="btn btn-success" (click)="approveChangeRequest()">APPROVE</button>
                <button class="btn btn-inverse" (click)="declineChangeRequest()">DECLINE</button>
                <select class="form-control reason-select" placeholder="Language"
                        value={{declineReason}}
                        (change)="changeInputValue($event)"
                >
                  <option value="">No reasons</option>
                  <option value="reason1">Reason 1</option>
                  <option value="reason2">Reason 2</option>
                </select>
                <span class="decline-err" *ngIf="declineSubmit && !declineReason">Choose reason</span>
              </div>
            </div>

            <!--<div class="message-weekdays">-->
            <!--<div class="weekdays-title">WEEKDAY</div>-->
            <!--<div class="weekdays-body">-->
            <!--<div class="checkbox-fade fade-in-primary weekdays-item">-->
            <!--<label>-->
            <!--<input type="checkbox"-->
            <!--(change)="changeInputValue($event, 'checkbox', 0)"-->
            <!--[attr.checked]="chosenChangeRequest.notificationMessage.days[0] ? 'checked': null"-->
            <!--&gt;-->
            <!--<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>-->
            <!--<span class="text-inverse">{{weekDays[0]}}</span>-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="checkbox-fade fade-in-primary weekdays-item">-->
            <!--<label>-->
            <!--<input type="checkbox"-->
            <!--(change)="changeInputValue($event, 'checkbox', 1)"-->
            <!--[attr.checked]="chosenChangeRequest.notificationMessage.days[1] ? 'checked': null"-->
            <!--&gt;-->
            <!--<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>-->
            <!--<span class="text-inverse">{{weekDays[1]}}</span>-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="checkbox-fade fade-in-primary weekdays-item">-->
            <!--<label>-->
            <!--<input type="checkbox"-->
            <!--(change)="changeInputValue($event, 'checkbox', 2)"-->
            <!--[attr.checked]="chosenChangeRequest.notificationMessage.days[2] ? 'checked': null"-->
            <!--&gt;-->
            <!--<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>-->
            <!--<span class="text-inverse">{{weekDays[2]}}</span>-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="checkbox-fade fade-in-primary weekdays-item">-->
            <!--<label>-->
            <!--<input type="checkbox"-->
            <!--(change)="changeInputValue($event, 'checkbox', 3)"-->
            <!--[attr.checked]="chosenChangeRequest.notificationMessage.days[3] ? 'checked': null"-->
            <!--&gt;-->
            <!--<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>-->
            <!--<span class="text-inverse">{{weekDays[3]}}</span>-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="checkbox-fade fade-in-primary weekdays-item">-->
            <!--<label>-->
            <!--<input type="checkbox"-->
            <!--(change)="changeInputValue($event, 'checkbox', 4)"-->
            <!--[attr.checked]="chosenChangeRequest.notificationMessage.days[4] ? 'checked': null"-->
            <!--&gt;-->
            <!--<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>-->
            <!--<span class="text-inverse">{{weekDays[4]}}</span>-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="checkbox-fade fade-in-primary weekdays-item">-->
            <!--<label>-->
            <!--<input type="checkbox"-->
            <!--(change)="changeInputValue($event, 'checkbox', 5)"-->
            <!--[attr.checked]="chosenChangeRequest.notificationMessage.days[5] ? 'checked': null"-->
            <!--&gt;-->
            <!--<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>-->
            <!--<span class="text-inverse">{{weekDays[5]}}</span>-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="checkbox-fade fade-in-primary weekdays-item">-->
            <!--<label>-->
            <!--<input type="checkbox"-->
            <!--(change)="changeInputValue($event, 'checkbox', 6)"-->
            <!--[attr.checked]="chosenChangeRequest.notificationMessage.days[6] ? 'checked': null"-->
            <!--&gt;-->
            <!--<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>-->
            <!--<span class="text-inverse">{{weekDays[6]}}</span>-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>

    </div>
    <div class="not-found-txt" *ngIf="!chosenChangeRequest">Not found</div>
  </div>

  <app-client-beacon-right-block [beacon]="chosenChangeRequest"></app-client-beacon-right-block>
</div>
