@import "../../../../styles.css";

.page {
  //height: 77vh;
  //overflow-y: auto;

  .page-list-wrapper {
    width: 15%;
    height: 75vh;
    float: left;

    .search-gems-input {
      width: 88%;
    }

    .title {
      border-width: 2px;
      margin: 10px 0 15px 0 !important;
      width: 88%;

      .open-title {
        color: #FFA8A2;
        margin-left: 30px;
      }
    }

    .list-item-first {

    }

    .list-ul {
      height: 66vh;
      max-height: 66vh;
      overflow-y: auto;

      .list-item {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        padding: 10px 20px;
        width: 88%;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .list-item:hover {
        cursor: pointer;
        background: #0073AA;
        border-color: #0073AA;
      }

      .list-item.active {
        background: #0073AA;
        border-color: #0073AA;
        color: #fff;
      }
    }
  }

  .page-item-view {
    width: 59%;
    float: left;
    margin-left: 20px;

    .item-header {
      height: 60px;

      .item-title {
        float: left;
        padding: 5px 20px 7px 5px;
        border-bottom: 2px solid #FC7D74;
      }

      .item-save {
        float: right;
        margin-right: 2%;
      }
    }

    .item-view-body {
      padding-bottom: 20px;

      .message-wrapper {
        width: 97%;
        height: auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #C6C6C6;

        .message-header {
          margin-bottom: 15px;
          height: 21px;

          .message-title {
            font-weight: bold;
            font-size: 14px;
          }
        }

        .message-form {
          min-height: 130px;

          .message-fields-row {
            min-height: 85px;
            margin-bottom: 15px;

            .actions-block {
              text-align: center;
              height: 75px;

              .reason-select {
                padding: 0;
                width: 120px;
                height: 30px;
                margin: 4px 0 0 51%;
              }

              .decline-err {
                color: red;
                font-size: 12px;
                margin-left: 84px;
              }
            }

            .message-fields-block {
              float: left;
              margin-right: 8px;
              font-size: 13px;
              width: 42%;
              min-height: 50px;

              .message-field-title {
                font-weight: bold;
                margin: 0 0 5px 0;
                height: 20px;
              }

              .message-field-value {
                overflow-wrap: break-word;
                padding-bottom: 4px;
                border-bottom: 1px solid #C6C6C6;
                margin-bottom: 15px;
              }
            }

            .lang-block {
              width: 4%;
            }
          }

          .message-weekdays {
            float: left;
            margin-left: 35px;

            .weekdays-title {
              font-weight: bold;
              float: left;
              font-size: 14px;
            }

            .weekdays-body {
              float: left;
              margin: -7px 0 0 25px;

              .weekdays-item {
                display: block !important;
              }
            }

            .cr {
              margin-top: -3px !important;
            }

            .text-inverse {
              font-size: 14px !important;
            }
          }
        }
      }
    }

    .not-found-txt {
      text-align: center;
    }
  }

  .btn {
    padding: 7px 30px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    border-radius: 2px;
    height: 30px !important;
    width: 120px;
  }

  .btn-inverse {
    margin-left: 6px !important;
  }
}
