@import "../../../../styles.css";

.card-header-right {
  display: none !important;
}

.actions-wrap {
  height: 42px;
  margin-bottom: 15px;

  .users-search {
    width: 300px;
    height: 41px;
    float: left;
  }

  .actions-btn {
    margin-left: 30px;
    float: left;
  }
}

.project-table {
  display: block;

  .head-th {
    font-size: 14px;
    padding-bottom: 20px !important;
  }

  .body-th {
    font-size: 14px;
    font-weight: 100;
  }
}

table tr {
  padding-bottom: 0 !important;
  height: 52px;
}

table th {
  border-top: none !important;
  padding-top: 0.5rem;
}

.btn {
  padding: 7px 30px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  border-radius: 2px;
  height: 30px !important;
}

.impersonate-btn {
  margin-top: -10px;
  margin-left: 25%;
}

/deep/ .ngx-datatable .datatable-footer .page-count {
  display: none !important;
}

/deep/ .ngx-datatable .datatable-footer .page-count {
  display: none !important;
}

/deep/ .ngx-datatable {
  font-size: 13px !important;
}
