<form>
  <div class="message-wrapper">
    <div class="message-header">
      <div class="message-title">MESSAGE 1</div>
    </div>

    <div *ngIf="chosenGem.attachmentsRequest.length === 0" class="message-form">
      <div class="message-fields">
        <div class="message-form-row">
          <label class="field-label" for="msg">Message</label>
          <input id="msg" maxlength="40" type="text" class="form-control form-text-field" placeholder="Message"
                 value={{chosenGem.attachments[0].notificationMessage.title}}
                 (change)="changeInputValue($event, 'title', null)"
          >
        </div>
        <div class="message-form-row">
          <label class="field-label link-field-label" for="link">Link</label>
          <input id="link" type="text" class="form-control form-text-field" placeholder="Link"
                 value={{chosenGem.attachments[0].notificationMessage.url}}
                 (change)="changeInputValue($event, 'url', null)"
          >
          <span *ngIf="submit && urlError" class="input-err">{{urlError}}</span>
        </div>
        <div class="message-form-row">
          <label class="field-label lang-field-label" for="lang">Language</label>
          <select id="lang" name="select" class="form-control form-text-field" placeholder="Language"
                  value={{chosenGem.attachments[0].namespacedType}}
                  (change)="changeInputValue($event, 'namespacedType', null)"
          >
            <option value="com.google.nearby/en">English</option>
            <option value="com.google.nearby/es">Spanish</option>
            <option value="com.google.nearby/pt">Portuguese</option>
            <option value="com.google.nearby/de">German</option>
            <option value="com.google.nearby/fr">French</option>
            <option value="com.google.nearby/nl">Dutch</option>
            <option value="com.google.nearby/uk">Ukrainian</option>
            <option value="com.google.nearby/ru">Russian</option>
            <option value="com.google.nearby/he">Hebrew</option>
          </select>
        </div>
      </div>
      <!--<div class="message-weekdays">
        <div class="weekdays-title">WEEKDAY</div>
        <div class="weekdays-body">
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 0)"
                     [attr.checked]="chosenGem.notificationMessage.days[0] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[0]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 1)"
                     [attr.checked]="chosenGem.notificationMessage.days[1] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[1]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 2)"
                     [attr.checked]="chosenGem.notificationMessage.days[2] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[2]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 3)"
                     [attr.checked]="chosenGem.notificationMessage.days[3] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[3]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 4)"
                     [attr.checked]="chosenGem.notificationMessage.days[4] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[4]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 5)"
                     [attr.checked]="chosenGem.notificationMessage.days[5] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[5]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 6)"
                     [attr.checked]="chosenGem.notificationMessage.days[6] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[6]}}</span>
            </label>
          </div>
        </div>
      </div>-->
    </div>

    <div *ngIf="chosenGem.attachmentsRequest.length > 0" class="message-form">
      <div class="message-fields">
        <div class="message-form-row">
          <label class="field-label" for="msg">Message</label>
          <input id="msg" type="text" class="form-control form-text-field" placeholder="Message"
                 value={{chosenGem.attachmentsRequest[0].notificationMessage.title}}
                 (change)="changeInputValue($event, 'title', null)"
          >
        </div>
        <div class="message-form-row">
          <label class="field-label link-field-label" for="link">Link</label>
          <input id="link" type="text" class="form-control form-text-field" placeholder="Link"
                 value={{chosenGem.attachmentsRequest[0].notificationMessage.url}}
                 (change)="changeInputValue($event, 'url', null)"
          >
          <span *ngIf="submit && urlError" class="input-err">{{urlError}}</span>
        </div>
        <div class="message-form-row">
          <label class="field-label lang-field-label" for="lang">Language</label>
          <select id="lang" name="select" class="form-control form-text-field" placeholder="Language"
                  value={{chosenGem.attachments[0].namespacedType}}
                  (change)="changeInputValue($event, 'namespacedType', null)"
          >
            <option value="com.google.nearby/en">English</option>
            <option value="com.google.nearby/es">Spanish</option>
            <option value="com.google.nearby/pt">Portuguese</option>
            <option value="com.google.nearby/de">German</option>
            <option value="com.google.nearby/fr">French</option>
            <option value="com.google.nearby/nl">Dutch</option>
            <option value="com.google.nearby/uk">Ukrainian</option>
            <option value="com.google.nearby/ru">Russian</option>
            <option value="com.google.nearby/he">Hebrew</option>
          </select>
        </div>
      </div>
      <!--<div class="message-weekdays">
        <div class="weekdays-title">WEEKDAY</div>
        <div class="weekdays-body">
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 0)"
                     [attr.checked]="chosenGem.notificationMessage.days[0] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[0]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 1)"
                     [attr.checked]="chosenGem.notificationMessage.days[1] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[1]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 2)"
                     [attr.checked]="chosenGem.notificationMessage.days[2] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[2]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 3)"
                     [attr.checked]="chosenGem.notificationMessage.days[3] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[3]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 4)"
                     [attr.checked]="chosenGem.notificationMessage.days[4] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[4]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 5)"
                     [attr.checked]="chosenGem.notificationMessage.days[5] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[5]}}</span>
            </label>
          </div>
          <div class="checkbox-fade fade-in-primary weekdays-item">
            <label>
              <input type="checkbox"
                     (change)="changeInputValue($event, 'checkbox', 6)"
                     [attr.checked]="chosenGem.notificationMessage.days[6] ? 'checked': null"
              >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              <span class="text-inverse">{{weekDays[6]}}</span>
            </label>
          </div>
        </div>
      </div>-->
    </div>






  </div>
</form>
