@import "../../../../styles.css";

body::-webkit-scrollbar {
  width: 1em;
}

.message-wrapper {
  height: 270px;
  margin-bottom: 15px;

  .message-header {
    margin-bottom: 15px;

    .message-title {
      font-weight: bold;
      font-size: 14px;
    }
  }

  .message-form {
    .message-fields {
      float: left;

      .message-form-row {
        margin-bottom: 8px;
      }

      .field-label {
        font-weight: bold;
        float: left;
        margin: 5px 30px;
        font-size: 14px;
      }

      .link-field-label {
        margin-right: 60px;
      }

      .lang-field-label {
        margin-right: 23px;
      }

      .form-text-field {
        width: 200px;
      }

      .input-err {
        color: red;
        float: right;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }

    .message-weekdays {
      float: left;
      margin-left: 35px;

      .weekdays-title {
        font-weight: bold;
        float: left;
        font-size: 14px;
      }

      .weekdays-body {
        float: left;
        margin: -7px 0 0 25px;

        .weekdays-item {
          display: block !important;
        }
      }

      .cr {
        margin-top: -3px !important;
      }

      .text-inverse {
        font-size: 14px !important;
      }
    }
  }
}
