@import "../../../../styles.css";

.page-item-view {
  width: 75%;
  float: left;

  .item-header {
    height: 100px;

    .item-title {
      float: left;
      padding: 5px 20px 7px 5px;
      border-bottom: 2px solid #475B63;
      color: #A0A0A0;
      margin: 0 10px 20px 0;
    }

    .item-title-active {
      border-bottom: 2px solid #FC7D74;
      color: #000;
    }

    .item-title:hover {
      cursor: pointer;
    }

    .item-save {
      float: left;
      margin: 1px 0 0 20px;
    }
  }

  .notification-msg-title {
    color: #59808D;
    font-weight: 700;
    margin-top: 20px;
  }

  .item-view-body {
  }
}


.btn {
  padding: 7px 30px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  border-radius: 2px;
  height: 30px !important;
}
