<ngx-loading [show]="loading"></ngx-loading>

<div class="row">
  <div *ngIf="beacon" class="page-item-view">
    <div class="item-header">
      <div class="item-title"
           (click)="changeActiveTab('beacon')"
           [ngClass]="{'item-title-active': (activeTab === 'beacon')}"
      >
        <h5>{{returnBeaconName(beacon.description)}}</h5>
      </div>
      <!--<div class="item-title"
           (click)="changeActiveTab('history')"
           [ngClass]="{'item-title-active': (activeTab === 'history')}"
      >
        <h5>History Changes</h5>
      </div>-->
      <div *ngIf="activeTab === 'beacon'" class="item-save">
        <button class="btn btn-success" (click)="saveBeacon()">SAVE</button>
        <button class="btn btn-danger" (click)="changeBeaconStatus()">
          {{beacon && beacon.status === 'inactive' ? 'Activate' : 'Deactivate'}}
        </button>
        <!--<button class="btn btn-inverse" (click)="decommissionBeacon()">Decommission</button>-->
      </div>
    </div>
    <div class="notification-msg-title">NOTIFICATION MESSAGES</div>
    <div *ngIf=" activeTab === 'beacon'" class="item-view-body">
      <app-gems-message
        [chosenGem]="beacon"
        [weekDays]="weekDays"
        [submit]="submit"
        [urlError]="urlError"
        (changeInputData)="onChangeInputData($event)"
      ></app-gems-message>
    </div>
  </div>


  <div *ngIf="activeTab === 'beacon'">
    <app-client-beacon-right-block [beacon]="beacon"></app-client-beacon-right-block>
  </div>
</div>
