<div class="screen">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="container">
    <form (input)="onFormChange()" [formGroup]="form">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="header-text-container">
            <img src="assets/images/auth/royaltie-order.jpg">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="header-text-container">
            <h3>YOUR ROYALTIE GEM ORDER</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="counter-order-text">
            <label>Use the counter below to choose how many gems you want to order.</label>
            <label>$30 activation fee along with your first and last month`s subscription fees will be charged upon
              sign
              up.
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-lg-4"></div>
        <div class="col-xs-12 col-md-8 col-lg-4">
          <div class="counter-frame-container">


            <div class="input-group input-group-custom ">
      <span class="input-group-btn">
        <button (click)="orderCounterMinus()" class="btn btn-secondary" type="button">-</button>
      </span>
              <input disabled type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                     [ngModel]="beaconCounter">
              <span class="input-group-btn">
        <button (click)="orderCounterPlus()" class="btn btn-secondary" type="button">+</button>
      </span>
            </div>
            <br>

            <span><label class="white-label">Monthly Subscription Fee: $</label><label class="white-label">{{monthlySubscriptionFee}}</label></span>

          </div>
        </div>
        <div class="col-md-2 col-lg-4"></div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="order-text-container">
            <h3>General Information</h3>
          </div>
        </div>
      </div>


      <div class="row margin-top-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">

              <div class="input-group">
                <input (change)="duplicateDataToAnotherInput('firstName', 'recurlyFirstName')"
                       formControlName="firstName" type="text" class="form-control" placeholder="*First Name"
                       [ngClass]="!form.controls['firstName'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container"
                   *ngIf="!form.controls['firstName'].valid && isSubmitPressed">
                <label *ngIf="form.controls['firstName'].errors.required"
                       class="error-label">{{invalidFirstNameLabel}}</label>
                <label
                  *ngIf="(form.controls['firstName'].errors.commonTextFormatError && form.controls['firstName'].value.length > 0)"
                  class="error-label">{{invalidNameFormat}}</label>
              </div>

            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input (change)="duplicateDataToAnotherInput('lastName', 'recurlyLastName')" formControlName="lastName"
                       type="text" class="form-control" placeholder="*Last Name"
                       [ngClass]="!form.controls['lastName'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container"
                   *ngIf="!form.controls['lastName'].valid && isSubmitPressed">
                <label *ngIf="form.controls['lastName'].errors.required"
                       class="error-label">{{invalidLastNameLabel}}</label>
                <label
                  *ngIf="(form.controls['lastName'].errors.commonTextFormatError && form.controls['lastName'].value.length > 0)"
                  class="error-label">{{invalidLastNameFormat}}</label>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row margin-top-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <input formControlName="phoneNumber" type="text" class="form-control" placeholder="*Phone Number"
                       [ngClass]="!form.controls['phoneNumber'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container"
                   *ngIf="!form.controls['phoneNumber'].valid && isSubmitPressed">
                <label class="error-label">{{invalidPhoneNumberLabel}}</label>
              </div>

            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label id="referred-by-label">Referred By:</label>
                <input id="referred-input" formControlName="referredBy" type="text" class="form-control" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row margin-top-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">


                <input (input)="onOrderEmailInput()"  formControlName="emailAddress"
                       class="form-control" placeholder="*Email Address"
                       [ngClass]="!form.controls['emailAddress'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container">

                <label *ngIf="(form.controls['emailAddress'].errors != null) && (form.controls['emailAddress'].errors.required || form.controls['emailAddress'].errors.incorrect)  && isSubmitPressed" class="error-label">{{invalidEmailAddressLabel}}</label>


                <label
                  *ngIf="(form.controls['emailAddress'].errors != null) && (form.controls['emailAddress'].errors.invalidEmail && form.controls['emailAddress'].value.length > 0)"
                  class="error-label">{{incorrectEmailFormatLabel}}</label>
              </div>



            </div>
            <div class="col-md-6">
              <div class="input-group">

                <input (input)="onOrderEmailInput()"
                       formControlName="confirmEmailAddress" class="form-control"
                       placeholder="*Confirm Email Address"
                       [ngClass]="!form.controls['confirmEmailAddress'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container">

                <label *ngIf="(form.controls['confirmEmailAddress'].errors != null) && (form.controls['confirmEmailAddress'].errors.required || form.controls['confirmEmailAddress'].errors.incorrect)  && isSubmitPressed" class="error-label">{{invalidEmailAddressLabel}}</label>


                <label
                  *ngIf="(form.controls['confirmEmailAddress'].errors != null) && (form.controls['confirmEmailAddress'].errors.invalidEmail && form.controls['confirmEmailAddress'].value.length > 0)"
                  class="error-label">{{incorrectEmailFormatLabel}}</label>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row margin-top-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <input (change)="unTouchFields('password', 'confirmPassword')" formControlName="password"
                       type="password" class="form-control" placeholder="*Password"
                       [ngClass]="!form.controls['password'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container"
                   *ngIf="!form.controls['password'].valid && isSubmitPressed">
                <label class="error-label">{{invalidPasswordLabel}}</label>
              </div>

            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input (change)="unTouchFields('password', 'confirmPassword')" formControlName="confirmPassword"
                       type="password" class="form-control"
                       placeholder="*Confirm Password"
                       [ngClass]="!form.controls['confirmPassword'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container"
                   *ngIf="!form.controls['confirmPassword'].valid && isSubmitPressed">
                <label class="error-label">{{invalidPasswordLabel}}</label>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row margin-top-row">
        <div class="col-xs-2 col-md-1 col-lg-2"></div>
        <div class="col-xs-10 col-md-11 col-lg-10">
          <strong>Strength</strong> 8 characters minimum. Include one number, one uppercase letter, and one lower case
          letter.
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="order-text-container">
            <h3>Shipping Information</h3>
          </div>
        </div>
      </div>

      <div class="row margin-top-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">

              <div class="input-group">
                <input formControlName="shippingAdress1" type="text" class="form-control" placeholder="*Address 1"
                       [ngClass]="!form.controls['shippingAdress1'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container"
                   *ngIf="!form.controls['shippingAdress1'].valid && isSubmitPressed">
                <label class="error-label">{{invalidAdress}}</label>
              </div>

            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input formControlName="shippingAdress2" type="text" class="form-control" placeholder="Address 2"
                       [ngClass]="!form.controls['shippingAdress2'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row margin-top-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">

              <div class="input-group">
                <input formControlName="postalCode" type="text" class="form-control" placeholder="*ZIP/Postal Code"
                       [ngClass]="!form.controls['postalCode'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container"
                   *ngIf="!form.controls['postalCode'].valid && isSubmitPressed">
                <label class="error-label">{{invalidZipOrPostalCode}}</label>
              </div>

            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input formControlName="city" type="text" class="form-control" placeholder="*City"
                       [ngClass]="!form.controls['city'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container"
                   *ngIf="!form.controls['city'].valid && isSubmitPressed">
                <label *ngIf="form.controls['city'].errors.required" class="error-label">{{invalidCity}}</label>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row margin-top-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2">
              <label class="country-label">*Country: </label>
            </div>
            <div class="col-md-4">

              <div class="input-group">
                <select (change)="duplicateDataToAnotherInput('country', 'recurlyCountry')"
                        (change)="calculateShippingFee()"
                        formControlName="country" name="select"
                        [ngClass]="!form.controls['country'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                  <option value="AF">Afghanistan</option>
                  <option value="AX">Åland Islands</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AQ">Antarctica</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia, Plurinational State of</option>
                  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="BN">Brunei Darussalam</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="CA">Canada</option>
                  <option value="CV">Cape Verde</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CD">Congo, the Democratic Republic of the</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CI">Côte d'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">Curaçao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands (Malvinas)</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="VA">Holy See (Vatican City State)</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran, Islamic Republic of</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KP">Korea, Democratic People's Republic of</option>
                  <option value="KR">Korea, Republic of</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Lao People's Democratic Republic</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao</option>
                  <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia, Federated States of</option>
                  <option value="MD">Moldova, Republic of</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="MP">Northern Mariana Islands</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau</option>
                  <option value="PS">Palestinian Territory, Occupied</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RE">Réunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russian Federation</option>
                  <option value="RW">Rwanda</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="WS">Samoa</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome and Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SX">Sint Maarten (Dutch part)</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia and the South Sandwich Islands</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SZ">Swaziland</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syrian Arab Republic</option>
                  <option value="TW">Taiwan, Province of China</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania, United Republic of</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States</option>
                  <option value="UM">United States Minor Outlying Islands</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VE">Venezuela, Bolivarian Republic of</option>
                  <option value="VN">Viet Nam</option>
                  <option value="VG">Virgin Islands, British</option>
                  <option value="VI">Virgin Islands, U.S.</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
              </div>
              <div class="error-container"
                   *ngIf="!form.controls['country'].valid && isSubmitPressed">
                <label class="error-label">{{invalidCountryLabel}}</label>
              </div>

            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input formControlName="state" type="text" class="form-control" placeholder="*State/Province"
                       [ngClass]="!form.controls['state'].valid && isSubmitPressed ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>

              <div class="error-container"
                   *ngIf="!form.controls['state'].valid && isSubmitPressed">
                <label *ngIf="form.controls['state'].errors.required" class="error-label">{{invalidState}}</label>
                <label
                  *ngIf="(form.controls['state'].errors.commonTextFormatError && form.controls['state'].value.length > 0)"
                  class="error-label">{{invalidStateFormat}}</label>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>


      <div class="row margin-top-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              <label>Priority shipping:</label>
            </div>
            <div class="col-md-4">

              <label class="radio-inline"><input (change)="calculateShippingFee()" formControlName="priorityShipping"
                                                 type="radio"
                                                 name="priorityShipping" value="1">Yes</label>
              <label class="radio-inline"><input (change)="calculateShippingFee()" formControlName="priorityShipping"
                                                 type="radio" name="priorityShipping"
                                                 checked="checked" value="0">No</label>

            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>


      <div class="row margin-top-row">
        <div class="col-xs-2 col-md-3"></div>
        <div class="col-xs-10 col-md-5">
          <label>Do you want to sign up for the Royaltie Affiliate Program?</label>
        </div>
        <div class="col-xs-12 col-md-4">
          <label class="radio-inline"><input formControlName="afiliate"
                                             type="radio"
                                             name="afiliate" [value]=true>Yes</label>
          <label class="radio-inline"><input  formControlName="afiliate"
                                             type="radio" name="afiliate"
                                             checked="checked" [value]=false>No</label>
        </div>
      </div>



      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="order-text-container">
            <h3>Credit Card Information</h3>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

          <form (input)="onFormChange()" id="recurlyForm" [formGroup]="form">

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <input data-recurly="first_name" type="text" class="form-control" placeholder="*First Name"
                         formControlName="recurlyFirstName">
                  <span class="md-line"></span>
                </div>
                <div class="error-container"
                     *ngIf="!form.controls['recurlyFirstName'].valid && isSubmitPressed">
                  <label *ngIf="form.controls['recurlyFirstName'].errors.required" class="error-label">{{invalidFirstNameLabel}}</label>
                  <label
                    *ngIf="(form.controls['recurlyFirstName'].errors.commonTextFormatError && form.controls['recurlyFirstName'].value.length > 0)"
                    class="error-label">{{invalidNameFormat}}</label>

                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <input formControlName="recurlyLastName" data-recurly="last_name" type="text" class="form-control"
                         placeholder="*Last Name">
                  <span class="md-line"></span>
                </div>

                <div class="error-container"
                     *ngIf="!form.controls['recurlyLastName'].valid && isSubmitPressed">
                  <label *ngIf="form.controls['recurlyLastName'].errors.required" class="error-label">{{invalidLastNameLabel}}</label>
                  <label
                    *ngIf="(form.controls['recurlyLastName'].errors.commonTextFormatError && form.controls['recurlyLastName'].value.length > 0)"
                    class="error-label">{{invalidLastNameFormat}}</label>
                </div>

              </div>
            </div>
            <div class="row margin-top-row">
              <div class="col-md-6">
                <div data-recurly="number"></div>
                <div class="error-container"
                     *ngIf="recurlyError.fields.includes('number') && isSubmitPressed">
                  <label class="error-label">{{invalidCardNumber}}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div data-recurly="cvv"></div>
                <div class="error-container"
                     *ngIf="recurlyError.fields.includes('cvv') && isSubmitPressed">
                  <label class="error-label">{{invalidCvvCode}}</label>
                </div>
              </div>
            </div>
            <div class="row margin-top-row">
              <div class="col-md-6">
                <div data-recurly="month"></div>
                <div class="error-container"
                     *ngIf="recurlyError.fields.includes('month') && isSubmitPressed">
                  <label class="error-label">{{invalidMonth}}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div data-recurly="year"></div>
                <div class="error-container"
                     *ngIf="recurlyError.fields.includes('year') && isSubmitPressed">
                  <label class="error-label">{{invalidYear}}</label>
                </div>
              </div>
            </div>
            <div class="row margin-top-row">
              <div class="col-md-6">
                <div class="input-group">
                  <input data-recurly="postal_code" type="text" class="form-control" placeholder="*Postal code">
                  <span class="md-line"></span>
                </div>
                <div class="error-container"
                     *ngIf="recurlyError.fields.includes('postal_code') && isSubmitPressed">
                  <label class="error-label">{{invalidPostalCode}}</label>
                </div>
              </div>
              <div class="col-md-2">
                <label class="country-label">*Country: </label>
              </div>
              <div class="col-md-4">
                <select formControlName="recurlyCountry" class="form-control" data-recurly="country">
                  <option value="AF">Afghanistan</option>
                  <option value="AX">Åland Islands</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AQ">Antarctica</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia, Plurinational State of</option>
                  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="BN">Brunei Darussalam</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="CA">Canada</option>
                  <option value="CV">Cape Verde</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CD">Congo, the Democratic Republic of the</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CI">Côte d'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">Curaçao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands (Malvinas)</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="VA">Holy See (Vatican City State)</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran, Islamic Republic of</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KP">Korea, Democratic People's Republic of</option>
                  <option value="KR">Korea, Republic of</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Lao People's Democratic Republic</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao</option>
                  <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia, Federated States of</option>
                  <option value="MD">Moldova, Republic of</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="MP">Northern Mariana Islands</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau</option>
                  <option value="PS">Palestinian Territory, Occupied</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RE">Réunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russian Federation</option>
                  <option value="RW">Rwanda</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="WS">Samoa</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome and Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SX">Sint Maarten (Dutch part)</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia and the South Sandwich Islands</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SZ">Swaziland</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syrian Arab Republic</option>
                  <option value="TW">Taiwan, Province of China</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania, United Republic of</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States</option>
                  <option value="UM">United States Minor Outlying Islands</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VE">Venezuela, Bolivarian Republic of</option>
                  <option value="VN">Viet Nam</option>
                  <option value="VG">Virgin Islands, British</option>
                  <option value="VI">Virgin Islands, U.S.</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
              </div>
            </div>

            <div class="row margin-top-row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div data-recurly="cvv"></div>
              </div>
              <div class="col-md-3"></div>
            </div>


            <input type="hidden" name="recurly-token" data-recurly="token">
            <div class="row margin-top-row">
              <div class="col-xs-4 col-sm-4 col-md-4"></div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <button (click)="onOrderDataClick()" id="submit">SUBMIT ORDER</button>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4"></div>
            </div>
          </form>
        </div>
        <div class="col-md-2"></div>

      </div>


      <div class="row">
        <div class="col-md-2 col-lg-4"></div>

        <div class="col-xs-12 col-md-8 col-lg-4">
          <div class="order-frame-container">
            <label class="white-label">Order Summary</label>
            <span><label class="white-label">Activation Fee = $</label><label>{{activationFee}}</label></span>
            <span><label class="white-label">First & Last Months Payment = $</label><label class="white-label">{{firstAndLastPayment}}</label></span>
            <span><label class="white-label">Shipping Fee = $</label><label>{{shippingFee}}</label></span>
            <span><label class="white-label">Total due today: $</label><label>{{totalDueToday}}</label></span>
          </div>
        </div>

        <div class="col-md-2 col-lg-4"></div>

      </div>

      <div [ngClass]="generalError ? 'row margin-top-row no-button-padding' : 'row margin-top-row button-padding'">
        <div class="col-xs-12 col-md-12 text-align-center margin-top-row">
          By clicking <strong>Submit order</strong> you agree with our <a target="_blank"
                                                                          [routerLink]="['terms-of-service']">Terms of
          service</a> and <a target="_blank" [routerLink]="['privacy-policy']">Privacy Policy</a><br>
          <label *ngIf="generalError" id="global-error">{{generalErrorLabel}}</label>

          <br><br>
        </div>
      </div>
    </form>
  </div>
</div>
