.screen {
  background: #c3ac94 !important;
  width: 100%;
  font-family: futura-pt, 'Open Sans', 'Microsoft Sans Serif';
  position: relative;

  .header-text-container {
    text-align: center;
    margin-top: 10vh;

    h3 {
      color: #c3ac94;
    }
    img {
      height: 8vh;
    }
  }

  .counter-order-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

  .counter-frame-container {
    height: 20vh;
    margin-top: 5vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .order-text-container {
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 5vh;

    h3 {
      color: #c3ac94;
    }
  }

  .container {
    background: white;
  }

  .input-row {
    height: 10vh !important;
  }

  .text-align-center {
    text-align: center;
  }

  .margin-top-row {
    margin-top: 15px;
  }

  .margin-recurly-top-row {
    margin-top: 35px;
  }

  button {
    background: #c3ac94;
    color: white;
    margin-bottom: 40px;
  }

  .btn-primary {
    border-color: black !important;
  }

  .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 3px rgb(255, 184, 112);
  }

  .input-group-custom {
    width: 40%;
    margin-bottom: 0 !important;

    button {
      margin-bottom: 0 !important;
    }

    input {
      text-align: center;
    }
  }

  .white-label {
    color: white;
  }

  .order-frame-container {
    line-height: 90%;
    height: 90%;
    padding-top: 2em;
    padding-bottom: 1em;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    label {
      color: white;
    }
  }

  .centered-row {
    display: flex;
    align-items: center;
  }

  .error-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;
    padding-left: 2px;
    padding-top: 10px;
  }

  .error-container .error-label {
    position: relative !important;
    left: 0 !important;
    color: red !important;
    text-align: left !important;
    margin-top: -30px !important;
    font-size: 13px;
  }

  .form-control-danger {
    border-color: #e74c3c !important;
  }

  .country-label {
    margin-top: 5px;
  }

  #referred-by-label {
    position: absolute;
    z-index: 4;
    margin-top: 1vh;
    margin-left: 2.3vh;
    opacity: 0.5;
  }

  #referred-input {
    padding-left: 110px;
  }

  #submit {
    position: absolute;
    top: 16em;
    height: 3em;
    border-radius: 17px;
    border: none;
    width: 93%;
    z-index: 3;
  }

  #global-error {
    text-align: center;
    color: red;
    font-size: 16px;
    margin-top: 15vh;
    font-weight: 700;
    margin-left: 3vh;
  }


  .button-padding {
    padding-bottom: 6em;
  }

  .no-button-padding {
    padding-bottom: 0em;
  }



}


