<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form [formGroup]="form" class="md-float-material">
            <div class="text-center">
              <img src="assets/images/auth/logo.png" alt="logo.png">
            </div>
            <div class="auth-box">
              <p *ngIf="!isPasswordRestored" class="text-inverse b-b-default text-left p-b-5">Please, enter your new password</p>


              <div *ngIf="!isPasswordRestored" class="input-group">
                <input (mousedown)="unTouchFields('password', 'confirmPassword')" formControlName="password" type="password" placeholder="Password"
                       [ngClass]="!form.controls['password'].valid && form.controls['password'].touched ? 'form-control form-control-danger' : 'form-control'">
                <span class="md-line"></span>
              </div>
              <div class="error-container"
                   *ngIf="!form.controls['password'].valid && form.controls['password'].touched && !isPasswordRestored">
                <label class="error-label">{{invalidPasswordLabel}}</label>
              </div>


              <div *ngIf="!isPasswordRestored" class="input-group">
                <input (mousedown)="unTouchFields('password', 'confirmPassword')" formControlName="confirmPassword" type="password"
                       [ngClass]="!form.controls['confirmPassword'].valid && form.controls['confirmPassword'].touched ? 'form-control form-control-danger' : 'form-control'"
                       placeholder="Confirm password">
                <span class="md-line"></span>
              </div>
              <div class="error-container"
                   *ngIf="!form.controls['confirmPassword'].valid && form.controls['confirmPassword'].touched && !isPasswordRestored">
                <label class="error-label">{{invalidPasswordLabel}}</label>
              </div>

              <div *ngIf="isErrorDetected" class="row m-t-30">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <label id="error-label">{{errorLabel}}</label>
                </div>
                <div class="col-md-2"></div>
              </div>


              <div *ngIf="!isPasswordRestored" class="row m-t-30">
                <div class="col-md-12">
                  <button (click)="onRestore()" type="button"
                          class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">RESTORE PASSWORD
                  </button>
                </div>
              </div>

              <div *ngIf="isPasswordRestored" class="row m-t-30">
                <div class="col-md-12">
                  <h3 id="success-label">Restore successful!</h3>
                </div>
              </div>

              <div *ngIf="isPasswordRestored" class="row m-t-30">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <label id="general-label">You can use your new password to accessing Royaltie system</label>
                </div>
                <div class="col-md-2"></div>
              </div>

              <div *ngIf="isPasswordRestored" class="row m-t-30">
                <div class="col-md-12">
                  <button (click)="onLogin()" type="button"
                          class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN NOW
                  </button>
                </div>
              </div>


            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
