@import "../../../../styles.css";

.auth-box {
 width: 65vh;
}

.auth-fluid {
  margin-top: -13vh;
}

.error-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: inherit;
  padding-left: 2px;
  padding-top: 10px;
  width: 90%;
}

.error-container .error-label {
  position: relative !important;
  left: 0 !important;
  color: red !important;
  text-align: left !important;
  margin-top: -30px !important;
  font-size: 13px;
}

#success-label {
  color: green;
  font-weight: 700;
}

#general-label {
  color: black;
  padding-bottom: 2vh;
  font-weight: 500;
}

#error-label {
  color: red;
  padding-bottom: 1vh;
  font-weight: 500;
}
