.screen {
  background: #c3ac94 !important;
  width: 100%;

  .header-text-container {
    text-align: center;
    margin-top: 10vh;

    h3 {
      color: #c3ac94;
    }
    img {
      height: 8vh;
    }
  }

  .counter-order-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }


  .container {
    background: white;
  }

}


