<ngx-loading [show]="loading"></ngx-loading>

<div class="actions-wrap">
  <input type="text" class="form-control users-search" placeholder="Search"
         [ngModel]='searchModel' (ngModelChange)='search($event)'
  >
</div>

<div class="row" style="clear: both">
  <div class="col-sm-12">
    <app-card [title]="''" [classHeader]="true">
      <ngx-datatable
        #table
        class="data-table"
        [rows]="users"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [reorderable]="reorderable"
        [limit]="10">
        <ngx-datatable-column name="Name">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" prop="_id">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-danger impersonate-btn" (click)="impersonate(value)">IMPERSONATE</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <!--<div class="table-responsive">
        &lt;!&ndash;<span class="code-header">Selected 6 items</span>&ndash;&gt;
        <table class="table table-hover project-table">
          <thead>
          <tr>
            <th class="head-th">NAME</th>
            <th class="head-th">EMAIL</th>
            &lt;!&ndash;<th class="head-th">LAST LOGIN DATE</th>
            <th class="head-th">NUMBER OF BEACONS</th>
            <th class="head-th">SUBSCRIPTION STATUS</th>&ndash;&gt;
            <th class="head-th"></th>
          </tr>
          </thead>
          <tbody>
          <tr class="body-tr" *ngFor="let user of users; let i = index">
            <th class="body-th">{{user.firstName + ' ' + user.lastName}}</th>
            <th class="body-th acc-th">{{user.email}}</th>
            <th class="body-th">
              <button class="btn btn-danger impersonate-btn" (click)="impersonate(user._id)">IMPERSONATE</button>
            </th>
          </tr>
          </tbody>
        </table>
      </div>-->
    </app-card>
  </div>
</div>
