<div class="screen">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="header-text-container">
          <img src="assets/images/auth/royaltie-order.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="header-text-container">
          <h3>Royaltie Terms and Conditions of Sale</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="counter-order-text">
          <div class="modal-body">
            <p><strong>Last updated: August 9, 2017</strong></p>
            <p>These Terms of Sale ("Terms of Sale" or "Agreement") are a legal document that explains your rights and
              obligations as a Customer. Please read it carefully.</p>

            <h1>Definitions</h1>
            <p><strong>Customer:</strong></p>
            <p>You, the user of the Website (and addressee of these terms)<br></p>
            <p><strong>Merchant:</strong></p>
            <p>Hiram Lodge Enterprises Corp, also called Royaltie, a Canadian company.<br></p>
            <p><strong>Reseller:</strong></p>
            <p>The Merchant’s authorized reseller which operates the Website: Scalefast Inc., a Delaware corporation
              having its registered office at 2415 third street, suite 231, 94107 San Francisco</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>Customer</strong>, <strong>Merchant</strong> and <strong>Reseller</strong> may hereafter be
              collectively referred as the “Parties”.</p>
            <p><br> <strong>Product(s):</strong></p>
            <p>Product(s) sold on the Website</p>
            <p>&nbsp;</p>
            <p><strong>Website or Store:</strong></p>
            <p>the Merchant’s online store website accessible at&nbsp;<a href="https://www.royaltie.com">https://www.royaltie.com</a>
              .</p>
            <p><br></p>
            <p><b>PREAMBLE</b></p>
            <p>The present Terms and Conditions of Sale define and regulate the contractual relation between the
              Reseller and you, the Customer, also defined below as the user of the Website.</p>
            <p>The Reseller is an online and offline e-commerce solutions provider.</p>
            <p>The present Terms and Conditions of Sale apply exclusively between the Reseller and any person who visits
              the Website or makes a purchase from the Website.</p>
            <p>You have access to and may become familiar with the Terms and Conditions of Sale directly on the Website.
              These Terms and Conditions of Sale may be altered at any point in time, at the discretion of the Reseller.
              Enforceable terms and conditions consist those published on the Website, binding as of their date of
              registration. At all times, you are solely responsible for remaining knowledgeable about, and in
              compliance with, these Terms &amp; Conditions of Sale.</p>
            <p>Your failure to cancel your Account, or cease to use the Reseller’s ecommerce solutions affected by the
              amendment will constitute your tacit acceptance of the amended terms. If you don’t agree to the amendments
              or to any of the terms in this Agreement, your only remedy is to cancel your Account or to cease to use
              the Reseller’s ecommerce solutions. The Reseller shall not have any obligation to refund any fees that may
              have accrued to your Account before cancellation of your Account or cessation of use of any Subscription,
              nor shall the Reseller have any obligation to prorate any fees in such circumstances.</p>
            <p>The information given on the said Website may be modified by the Reseller without prior notification.</p>
            <p>The simple act of placing an order on the Website implies acceptance, without reserve, of the present
              Terms and Conditions of Sale.</p>
            <p>&nbsp;</p>
            <p><b>Scope of this agreement</b></p>
            <p>The deployment and management (“Services“) of wireless beacons (“Products”), is governed solely by this
              Agreement and other documents which may be executed by the Parties in this regard.</p>
            <p><b>User Account</b></p>
            <p>To make a purchase on the Reseller’s branded-ecommerce Store, you may complete the Store’s registration
              process, and create a Store account ("Account"). All members must be 13 years or older to create an
              account on the Store. Your Account may also include billing information you provide to the Reseller for
              the purchase of Subscriptions, for pre-orders or for faster future purchases. You are solely responsible
              for all activity on your Account and for the security of your computer system. You may not reveal, share
              or otherwise allow others to use your password or Account. You agree that you are personally responsible
              for the use of your password and Account and for all of the communication and activity on the Store that
              results from use of your login name and password. You may not sell or charge others for the right to use
              your Account, or otherwise transfer your Account, nor may you sell, charge others for the right to use, or
              transfer any Subscriptions other than if and as expressly permitted by these Terms of Sale.</p>
            <p>Please inform us immediately if you have any reason to believe that your password has become known to
              anyone else, or if the password is being, or is likely to be used in an unauthorized manner.</p>
            <p>As the Account holder, you are responsible for all charges incurred, including applicable taxes, and all
              purchases made by you or anyone that uses your Account, including your family or friends. If you cancel
              your Account, the Reseller reserves the right to collect fees, surcharges or costs incurred before
              cancellation. Any delinquent or unpaid Accounts must be settled before the Reseller can allow you to
              register again.</p>
            <p>You also understand and acknowledge that Accounts are user rights binding you to such an Account, and
              that the Reseller does not recognize any transfer of Accounts (including transfers by operation of law)
              from one subscriber to any third party. Each customer shall be the sole holder of his own Account.</p>
            <p>Your purchase is subject to product requirements which you must read before purchasing a product. The act
              of making a purchase constitutes your tacit understanding and compliance with these requirements. The
              Reseller shall not be held responsible for any loss, incompatible or erroneous purchases. We encourage you
              to contact our customer services, in such an event, so we may resolve your problem to the best of our
              ability.</p>
            <p>You agree that you will be personally responsible for the use of your Account and for all activity on the
              Store that results from use of your Account. Your online conduct is expected to be in good faith,
              non-abusive and seeking any other personal interest other than the services provided. You will otherwise
              be held in contempt and, at the discretion of the Reseller, ensuing legal procedure may incur.</p>
            <p>You may cancel your Account at any time. You may cease use of an Account at any time or, if you choose,
              you may request that we terminate your access to an Account. However, Accounts and product delivery are
              not transferable and product purchase transactions entitle you to a single right to the delivery of a
              product. Your cancellation of an Account will not entitle you to any refund for any products or fees. The
              Reseller holds the right to collect fees, surcharges or costs incurred prior to the cancellation of your
              Account. In addition, you are responsible for any charges incurred to third-party vendors or content
              providers before your cancellation.</p>
            <p>The Reseller may cancel your Account at any time, in the event that (a) the Reseller closes down the
              Store, or (b) you breach any terms of this Agreement (including any Subscription Terms or Rules of Use).
              In the event that your Account is terminated or cancelled by the Reseller for a violation of these Terms
              of Sale or improper or illegal activity, no refund, including of any Subscription fees or of any unused
              funds in your Account, will be granted.</p>
            <p>By creating an Account, you also accept the Terms and Conditions of the Members Rewards Program which may
              be available on the Website.</p>
            <p>All accounts created before the launch of the Website are not submitted to these Terms &amp; Conditions
              of Sale. Therefore, all accounts created before the launch of the Website do not qualify for the Members
              Rewards Program and are not transferred to this Website. Returning customers should create a new
              Account.</p>
            <h2>Stock Availability and Sales Fulfilment</h2>
            <p>Products are for sale within the limit of available stock. Offers for Products that are out of stock
              shall be valid on the condition that they can be obtained from the Reseller’s suppliers. The Reseller
              shall grant a limited license of access and use of the Website. The processing and delivery of orders
              shall always be honored upon availability of stock.</p>
            <p><b>Application</b></p>
            <p>Your Order is a binding offer to the Reseller to purchase the said Services and Products. Upon the
              placement of an order an ensuing and immediate confirmation message will be displayed followed by a
              confirmation email to you. Such automatic confirmation does not constitute an acceptance by the Reseller
              of your order, but a notice of acknowledgement. The Reseller's acceptance of your order shall occur and a
              contract shall form only once the Reseller approves the order. We only accept your offer, and conclude the
              contract of sale for a product ordered by you, when we dispatch the product to you and send e-mail
              confirmation to you that we've dispatched the product to you (the "Fulfillment Confirmation E-mail").</p>
            <p>If your order is dispatched in more than one package, you may receive a separate Dispatch Confirmation
              E-mail for each package, and each Fulfillment Confirmation E-mail and corresponding dispatch will conclude
              a separate contract of sale between us for the product(s) specified in that Fulfillment Confirmation
              E-mail. Your contract is with the Reseller.</p>
            <p><b>Orders and Use of the Services</b></p>
            <p>The orders shall be placed exclusively via the Internet.</p>
            <p>Automatic order confirmation errors may occur. Please check the automatic order confirmation for errors
              and inform us immediately of any discrepancies. You guarantee all data provided during registration is
              true, accurate, up-to-date and complete. Orders will only be accepted from Customers 13 years of age and
              older.</p>
            <p>The Reseller holds the right to cancel or refuse any order from a Customer with whom a previous order’s
              payment litigation is being resolved.</p>
            <p>You consent to receive sales invoices electronically. For each delivery, in our Fulfillment Confirmation
              E-mail you will receive a link to your electronic invoice on the Website. If you do not have an account
              and have not printed your invoice upon receiving your Fulfillment Confirmation Email, or for further
              information about electronic invoices and instructions on how to receive a paper copy please contact our
              customer support.</p>
            <h2>Delivery of Physical goods</h2>
            <p>Once the payment pursuant to an Order is duly completed, your order shall be delivered to the address
              indicated during the ordering procedure and begin providing Services. Shipments of the Products shall be
              made FCA (Incoterms 2010) Royaltie or its affiliate’s facility (“Point of Origin”). The delivery delay
              indicated on the Website is strictly indicative and may vary with the progression of the order. The
              Reseller cannot be held responsible for delayed delivery or the loss of a package by postal services or
              couriers and ensuing consequences. It is your responsibility to verify the good condition of their
              package(s) and its content upon receiving the package. In the event the package(s) or content are not in
              conformity with the order, you shall put in writing a full description of the content and disconformities,
              on the delivery slip, and shall issue a letter, with an acknowledgement of receipt and similar in content,
              within 3 days of reception.</p>
            <p><b>Payment</b></p>
            <p>At the time of purchase, you will have the possibility to pay with all displayed payment methods. Any
              other methods will not be endorsed.</p>
            <p>The Reseller uses SSL (Secure Socket Layer) encryption technology for your transactions. Your banking
              information is not stored by the Reseller. Stored banking information is stored by the Payment Service
              Provider, only if you have selected the option of saving a credit/debit card to your name, for a future
              use during check out or for a pre-order. Therefore, the Reseller does not have access to private banking
              details and credit history at any point. To prevent abuses and fraud, the Reseller only stores your
              address and the transaction time and date. This data remains strictly confidential.</p>
            <p>Any attempted fraud or deception, regardless of scope, will immediately lead to further action, as part
              of which all related transaction data might be forwarded to the authorities.</p>
            <p>When you provide payment information to the Reseller or to one of its payment service providers, you
              establish that you are the authorized user of the card, PIN, key or account associated with that payment,
              and you authorize the Reseller to charge your credit card or to process your payment with the chosen
              third-party payment service provider for any purchases or fees chargeable to your account. The Reseller
              may require you to provide your address or other information in order to meet the Reseller’s obligations
              under applicable tax law.</p>
            <p>For subscriptions purchased, based on an agreed usage period, where recurring payments are made in
              exchange for continued use (“Recurring Payment Subscriptions”), by continuing to use the Recurring Payment
              Subscription, you agree and reaffirm that the Reseller is authorized to charge your credit card, or to
              process your payment with any other applicable third-party payment processor (such as Paypal), for any
              applicable recurring payment amounts. If you have purchased any Recurring Payment Subscriptions, you agree
              to notify the Reseller promptly of any changes to your credit card account number, its expiration date
              and/or your billing address, or your PayPal or other payment account number, and you agree to notify the
              Reseller promptly if your credit card or PayPal or other payment account expires or is canceled for any
              reason.</p>
            <p>The term of the Service Agreement will be non-cancellable for three months. Following the initial three
              month term, the Services are automatically renewed for one month terms. The Agreement can be terminated
              with one (1) month’s written notice AND the return of the Products in proper working order. The Lease Term
              will continue on a month to month basis thereafter until the Customer gives Royatie 30 days written
              cancellation notice and the return of the Products. The Customer shall pay for an Order by credit card.
              The Customer will submit the credit card payment details at the time the Order is placed. The Customer’s
              credit card will be immediately charged for the first and last month’s use of Products and each month
              thereafter during the Term.</p>
            <p>If your use of the Store and purchases are subject to any type of use or sales tax, then the Reseller may
              also charge you for those taxes, in addition to the Subscription or other fees published in the Rules of
              Use.</p>
            <p>You agree that you will not use IP proxying or other methods to disguise the place of your residence,
              whether to circumvent geographical restrictions on Product content, to purchase at pricing not applicable
              to your geography, or for any other purpose. If you do this, we may terminate your access to your
              Account.</p>
            <p><b>Ownership Rights</b></p>
            <p>Should you not honor the payment obligations for any reason whatsoever, the Reseller shall be entitled to
              demand that the delivered merchandise be returned immediately, at your own cost, risk and peril.</p>
            <p>The Reseller makes no representations or warranties, either expressed or implied, regarding any third
              party site. In particular, the Reseller makes no representation or warranty that any service or
              subscription offered via third-party vendors will not change or be suspended or terminated.</p>
            <p>Warranty Disclaimer</p>
            <p>SUBJECT TO APPLICABLE LAW, ROYALTIE AND THE RESELLER DOES NOT MAKE, AND HEREBY EXPRESSLY DISCLAIMS, ANY
              WARRANTY OR REPRESENTATION WITH RESPECT TO THE PRODUCTS AND SERVICES, EXPRESS OR IMPLIED, INCLUDING, BUT
              NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, PERFORMANCE,
              ACCURACY, RELIABILITY, AND NON‐INFRINGEMENT. FURTHER, ROYALTIE AND THE RESELLER DOES NOT WARRANT THAT THE
              OPERATION OF THE PRODUCTS AND SERVICES WILL BE UNINTERRUPTED OR ERROR FREE OR THAT THE PRODUCTS WILL MEET
              CUSTOMER’S OR ANY THIRD PARTY’S EXPECTATIONS.</p>
            <p><b>License and user rights</b></p>
            <p>Under these Terms the limited and non-exclusive right to use one (1) copy of Products delivered to you by
              the Reseller on a computer or laptop is granted to you. Under the terms of this contract, you are not
              permitted to copy, modify, or decompile any software in a Product, to extract its source code, create any
              item derived from it or remove any indication of the name or manufacturer of the software from it. You are
              exclusively permitted to use the Product for their own personal use and may not pass it on, sell, transfer
              or lend it to a third party.</p>
            <p>The Store may require the automatic download and installation of software onto your computer. The
              Reseller hereby grants, and you accept, a limited, terminable, non-exclusive license and right to use the
              software for your personal, non-commercial use (except where commercial use is expressly allowed herein or
              in the applicable Terms of Sale) in accordance with these Terms of Sale. The software is licensed, not
              sold. Your license confers no title or ownership in the software.</p>
            <p>You may not use the Internet source code or any the Reseller software for any purpose other than the
              permitted access to the Store and to make personal, non-commercial use of your Account, except as
              otherwise permitted by this Terms of Sale. Except as otherwise permitted under these Terms of Sales, or
              under applicable law notwithstanding these restrictions, you may not, in whole or in part, copy,
              photocopy, reproduce, publish, distribute, translate, reverse engineer, derive source code from, modify,
              disassemble, decompile, create derivative works based on, or remove any proprietary notices or labels from
              the Store or the Reseller software without the prior consent, in writing, of the Reseller.</p>
            <p>You are entitled to use the Store for your own personal use, but you are not entitled to: (i) sell, grant
              a security interest to other parties in any way, nor to rent, lease or license your Account rights to
              others without the prior written consent of the Reseller, except to the extent expressly permitted
              elsewhere in these Terms of Sale; (ii) exploit the Reseller Software, the Store for any commercial
              purpose, except as expressly permitted elsewhere in these Terms of Sale.</p>
            <p>The Reseller or its content providers grant you a limited, non-exclusive, non-transferable, non-sub
              licensable license to access and make personal and non-commercial use of the Reseller services.</p>
            <p><b>Return procedure</b></p>
            <p>If the Products supplied by Royaltie do not function to according to its specifications and any
              documentation provided thereto, then the Customer may contact Royaltie via the contact information
              provided herein within 15 (fifteen) days of delivery of the concerned Product, failing which, the Products
              delivered shall be deemed accepted by the Customer. If the Customer returns the Products to Royaltie, and
              the Products are deemed not to function by Royaltie, Royaltie may arrange for replacement of the Products
              within a commercially reasonable time period.</p>
            <p>Effective Date &amp; Termination</p>
            <p>This Agreement will be effective as of the date hereof and shall remain valid unless terminated in
              accordance with this Clause. This Agreement may be terminated by either Party with cause, i.e., if the
              other Party is in breach of the terms and conditions hereof or any applicable law and fails to remedy the
              same within 30 (thirty) days of receipt of a written notice to that effect from the Party not in
              breach.</p>
            <p><strong>ASSIGNMENT</strong></p>
            <p>The Customer shall not assign or transfer any of the rights or responsibilities set forth herein without
              the prior written consent of Royaltie, and any purported attempt to do so shall be deemed void.</p>
            <p><strong>NOTICES</strong></p>
            <p>In any case where a notice or another form of communication with Royaltie is to be given or made pursuant
              to any provision of this Agreement, such notice or communication shall be issued to Hiram Lodge
              Enterprises Corp at 2 Bloor St. W. Suite 1903, Toronto, ON M4W 3E2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              .</p>
            <p><strong>WAIVER</strong></p>
            <p>Either Party’s failure to exercise any of its rights hereunder shall not constitute or be deemed a waiver
              or forfeiture of any such rights.</p>
            <p><strong>ENTIRE AGREEMENT</strong></p>
            <p>This Agreement is the entire agreement between the Parties as to the matters set forth herein and
              supersedes any such prior agreement or communication. Any subsequent waiver or modification of this
              Agreement, or any part of it, shall only be effective if reduced to writing and signed and dated by both
              Parties.</p>
            <p>Intellectual Property</p>
            <p>The entire content of the Website (texts, illustrations and computer code) is the property of the
              Reseller, the Merchant or their co-contractors.</p>
            <p>In addition, graphics, logos, page headers, button icons, scripts, and service names included in or made
              available through any Reseller’s Service are trademarks or trade dress of the Reseller. The Reseller’s
              trademarks and trade dress may not be used in connection with any product or service that is not provided
              by the Reseller, in any manner that is likely to cause confusion among customers or in any manner that
              disparages or discredits the Reseller. All other trademarks not owned by the Reseller that appear in any
              Reseller’s Service are the property of their respective owners, who may or may not be affiliated with,
              connected to, or sponsored by the Reseller.</p>
            <p>All intellectual property rights in and to the Products and Services, including all patent rights,
              copyrights, trademarks, trade secrets or other proprietary rights therein shall be and remain the sole
              property of the Merchant.</p>
            <h2>Links to Third Party Websites</h2>
            <p>The Store may contain links to other websites. The Reseller does not have any control over these other
              websites and is not responsible for their content or security. If a Member clicks on a link to such
              website, he/she does so at his/her own risk and is subject to the privacy policy, and terms and conditions
              of that website.</p>
            <p><b>Confidentiality</b></p>
            <p>Personal data you provide shall not be given to any third party other than the Merchant, and the
              Reseller’s service providers (such as payment and delivery services).</p>
            <p>By placing an order via the Website, you commit to providing accurate and true information. Your personal
              data is indispensable for the dispatch of the merchandise and invoice. If personal data is not provided
              the order shall be cancelled. Your personal data shall be used to deliver ordered Products, to inform you
              of new offers from the Reseller and/or the Merchant, and to contact you should a problem arise concerning
              the order. The Reseller shall not be held responsible for the use of any data provided to the
              Merchant.</p>
            <p>Regarding further information on the privacy and processing of your personal data, please refer to our
              Privacy Policy, available on the Website. These Terms of Sale are prevalent to the Privacy Policy, should
              any conflict ensue. Please refer yourself to these Terms of Sale as a reference for your purchases and
              rights through your interaction with the Reseller.</p>
            <p><b>Responsibilities</b></p>
            <p>You agree that these Terms of Sale do not intend to confer and do not confer any rights or remedies upon
              any person other than the parties to these Terms of Sale.</p>
            <p>When you use the Reseller Websites, you may also be using the services of one or more third parties, such
              as a payment service provider. Your use of these third party services may be subject to the separate
              policies, terms of use, and fees of these third parties. We advise you to refer to these third parties’
              policies.</p>
            <p>You acknowledge that you connect to the Website and use its services at your own risk. The Reseller holds
              no responsibility for any direct or indirect damages a user or a third party may suffer for any reason
              whatsoever by connecting to the Website, not having access or being able to log in to the Website, or that
              the Website is or is not working. The Reseller guarantees it shall take all sensible measures to ensure
              the availability of its services. However, since the transactions are made via the Internet, the Reseller
              cannot guarantee the quality of the networks outside of its offices. Technical interruptions are possible.
              The Reseller shall attempt to inform its Customers of the reasons for an interruption, to the best of its
              ability, but holds no responsibility in the event of a delay. The Reseller holds no responsibility in the
              event of any loss of your data provided. Customers must always keep a personal copy of files. The Reseller
              holds no responsibility for not honoring its contractual obligations, in the event of chance occurrence,
              unavoidable accident or an Act of God as defined by the laws and precedents of the applicable
              jurisdictions.</p>
            <p>Nor in any event will the Reseller be liable for any indirect, incidental, consequential, special,
              punitive or exemplary damages, or any other damages arising out of or in any way connected with the store,
              the software, and any information available in connection therewith, or inability to use the software,
              subscriptions or any information, even in the event of the Reseller’s or its affiliates’ fault, tort
              (including negligence), strict liability, breach of contract, or breach of the Reseller’s warranty and
              even if the Reseller has been advised of the possibility of such damages. These limitations and exclusions
              regarding damages apply even if any remedy fails to provide adequate recompense.</p>
            <p>You agree to defend, indemnify and hold harmless the Reseller, its licensors, and its and their
              affiliates from all liabilities, claims and expenses, including attorneys’ fees, that arise from or in
              connection with breach of these Terms of Sale or the use of the Store, by you or any person(s) using your
              Account, or from the Product selection to the creation of an Account, the purchase, distribution,
              promotion and use of any add-ons or derivative Products. The Reseller holds the right, at its own expense,
              to assume the exclusive defense and control of any matter otherwise subject to indemnification by you. In
              that event, you shall have no further obligation to provide indemnification to the Reseller in that
              matter. This section regarding responsibilities shall survive termination of these Terms of Sale.</p>
            <p>If you provide the Reseller with any feedback or suggestions about the Store, or any Reseller’s software,
              products or services, the Reseller is free to use the feedback or suggestions however it chooses, without
              any obligation to account to you.</p>
            <p>The Reseller and its affiliates will not be responsible for (i) losses that were not caused by any breach
              on our part, or (ii) any indirect or consequential losses that were not foreseeable to both you and us
              when the contract for the sale of products by us to you was formed.</p>
            <p>The Reseller may inform you through an online notice in the case of systems’ maintenance, and shall not
              be held responsible for any incurring ensuing delays or consequences.</p>
            <p><b>Product Information</b></p>
            <p>All photographs used to illustrate the Reseller's Products and services are non-contractual and cannot
              bind the Reseller in any way.</p>
            <p>Unless expressly indicated otherwise, the Reseller is not the manufacturer of the products sold on the
              Website. While we work to ensure that Product information on our Website is correct, actual Product
              packaging and materials may contain more and different information to that displayed on our Website. All
              information about the Products on our Website is provided for information purposes only. We recommend that
              you do not rely solely on the information presented on our Website. Please always read labels, warnings
              and directions provided with the Product before use.</p>
            <p><b>Customers’ public statements</b></p>
            <p>Visitors may post reviews, comments and other content; send e-cards and other communications; and submit
              suggestions, ideas, comments, questions or other information, as long as the content is not illegal,
              obscene, abusive, threatening, defamatory, invasive of privacy, infringing of intellectual property
              rights, or otherwise injurious to third parties or objectionable and does not consist of or contain
              software viruses, political campaigning, commercial solicitation, chain letters, mass mailings or any form
              of "spam". You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead
              as to the origin of a card or other content. We hold the right to remove or edit such content. If you
              believe that any content on or advertised for sale on any Reseller’s Service contains a defamatory
              statement, or that your intellectual property rights are being infringed by an item or information on any
              Reseller’s Service, please notify us by contacting our customer support and we will respond.</p>
            <p>If you post content or submit material, and unless we indicate otherwise, you grant: (a) the Reseller a
              non-exclusive, royalty-free and fully sublicensable and transferable rights to use, reproduce, modify,
              adapt, publish, translate, create derivative works from, distribute, and display such content throughout
              the world in any media; and (b) the Reseller, its sublicensees and transferees the right to use the name
              that you submit in connection with such content, if they choose. No moral rights are assigned under this
              provision.</p>
            <p>You agree that the rights you grant above are irrevocable during the entire period of protection of your
              intellectual property rights associated with such content and material. To the extent permitted by law,
              you agree to waive your right to be identified as the author of such content and your right to object to
              derogatory treatment of such content. You agree to perform all further acts necessary to perfect any of
              the above rights granted by you to the Reseller including the execution of deeds and documents, at our
              request.</p>
            <p>You represent and warrant that you own or otherwise control all of the rights to the content that you
              post; that, as at the date that the content or material is posted: (i) the content and material is true
              and accurate; and (ii) use of the content and material you supply does not breach any applicable policies
              or guidelines and will not cause injury to any person or entity (including that the content or material is
              not defamatory). You agree to indemnify the Reseller for all claims brought by a third party against the
              Reseller arising out of or in connection with the content and material you supply except to the extent
              that any liability arises from our failure to properly remove the content when it is notified of the
              illegal nature of the content arising out of or on the grounds of, or originating from the content that
              you have communicated to us.</p>
            <p>If you believe that any content on, or within a product advertised for sale on, the Website contains a
              defamatory statement, please notify the Reseller immediately.</p>
            <p><b>Applicable Law - Competent Jurisdiction</b></p>
            <p>BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR
              CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, THE RESELLER, ITS LICENSORS, AND ITS
              AND THEIR AFFILIATES’ LIABILITY SHALL BE LIMITED TO THE FULL EXTENT PERMITTED BY LAW.</p>
            <p>You agree that these Terms of Sale shall be deemed to have been made and executed in the State of
              Delaware., and any dispute arising hereunder shall be resolved in accordance with the law of Delaware.
              Subject to Dispute Resolution by Arbitration below, you agree that any claim asserted in any legal
              proceeding by you against the Reseller shall be commenced and maintained exclusively in Delaware, having
              subject matter jurisdiction with respect to the dispute between the parties and you hereby consent to the
              exclusive jurisdiction of such courts. In any dispute arising under these Terms of Sale, the prevailing
              party will be entitled to attorneys’ fees and expenses.</p>
            <p>Nothing in these Terms of Sale limits or excludes our responsibility for fraudulent representations made
              by us or for death or personal injury caused by our negligence or willful misconduct.</p>
            <p>If any of these Terms of Sale is deemed invalid, void, or for any reason unenforceable, that condition
              will be deemed severable and will not affect the validity and enforceability of any remaining
              condition.</p>
            <p>If you breach these Terms of Sale and we take no action, we will still be entitled to use our rights and
              remedies in any other situation where you breach these Conditions of Sale.</p>
            <p>DISPUTE RESOLUTION BY ARBITRATION</p>
            <p>Most user concerns can be resolved by use of our support at&nbsp;info@royaltie.com. If we are unable to
              resolve your concerns and a dispute remains between you and us, this section explains how we agree to
              resolve it.</p>
            <p>YOU AND THE RESELLER AGREE TO RESOLVE ALL DISPUTES AND CLAIMS BETWEEN US IN INDIVIDUAL BINDING
              ARBITRATION. THAT INCLUDES, BUT IS NOT LIMITED TO, ANY CLAIMS ARISING OUT OF OR RELATING TO: (i) ANY
              ASPECT OF THE RELATIONSHIP BETWEEN US; (ii) THIS AGREEMENT; OR (iii) YOUR USE OF THE STORE, YOUR ACCOUNT
              OR THE RESELLER SOFTWARE. IT APPLIES REGARDLESS OF WHETHER SUCH CLAIMS ARE BASED IN CONTRACT, TORT,
              STATUTE, FRAUD, UNFAIR COMPETITION, MISREPRESENTATION OR ANY OTHER LEGAL THEORY.</p>
            <p>However, this Section does not apply to the following types of claims or disputes, which you or the
              Reseller may bring in any court with jurisdiction: (i) claims of infringement or other misuse of
              intellectual property rights, including such claims seeking injunctive relief; and (ii) claims related to
              or arising from any alleged unauthorized use, piracy or theft.</p>
            <p>This Section does not prevent you from bringing your dispute to the attention of any federal, state, or
              local government agencies that can, if the law allows, seek relief from us for you.</p>
            <p>Arbitration is a proceeding before a neutral arbitrator, instead of before a judge or jury. Arbitration
              is less formal than a lawsuit in court, and provides more limited discovery. It follows different rules
              than court proceedings, and is subject to very limited review by courts. The arbitrator will issue a
              written decision and provide a statement of reasons if requested by either party. YOU UNDERSTAND THAT YOU
              AND THE RESELLER ARE GIVING UP THE RIGHT TO SUE IN COURT AND TO HAVE A TRIAL BEFORE A JUDGE OR JURY.</p>
            <p>You and the Reseller agree to make reasonable efforts, in good faith, to informally resolve any dispute
              before initiating arbitration. A party who intends to seek arbitration must first send the other a written
              notice that describes the nature and basis of the claim or dispute and sets forth the relief sought. If
              you and the Reseller do not reach an agreement to resolve that claim or dispute within 30 days after the
              notice is received, you or the Reseller may commence arbitration. Written notice to the Reseller must be
              sent via postal mail.</p>
            <p>The Federal Arbitration Act applies to this Section. The arbitration will be governed by the Commercial
              Arbitration Rules of the American Arbitration Association (“AAA”) and, where applicable, the AAA’s
              Supplementary Procedures for Consumer Related Disputes, as modified by this Agreement, both of which are
              available at&nbsp;<a href="http://www.adr.org/">http://www.adr.org.</a>&nbsp;The arbitrator is bound by
              the terms of this Agreement.</p>
            <p>The AAA will administer the arbitration. It may be conducted through the submission of documents, by
              phone, or in person in the county where you live or at another mutually agreed location.</p>
            <p>YOU AND THE RESELLER AGREE NOT TO BRING OR PARTICIPATE IN A CLASS OR REPRESENTATIVE ACTION, PRIVATE
              ATTORNEY GENERAL ACTION OR COLLECTIVE ARBITRATION, EVEN IF AAA’s PROCEDURES OR RULES WOULD OTHERWISE ALLOW
              ONE. The ARBITRATOR MAY AWARD RELIEF ONLY IN FAVOR OF THE INDIVIDUAL PARTY SEEKING RELIEF AND ONLY TO THE
              EXTENT OF THAT PARTY’S INDIVIDUAL CLAIM. You and the Reseller also agree not to seek to combine any action
              or arbitration with any other action or arbitration without the consent of all parties to this Agreement
              and all other actions or arbitrations.</p>
            <p>If the agreement in this section not to bring or participate in a class or representative action, private
              attorney general action or collective arbitration should be found illegal or unenforceable, you and the
              Reseller agree that it shall not be severable, that this entire section shall be unenforceable and any
              claim or dispute would be resolved in court and not in collective arbitration.</p>
            <p>Notwithstanding this Section, you have the right to litigate any dispute in small claims court, if all
              the requirements of the small claims court, including any limitations on jurisdiction and the amount at
              issue in the dispute, are satisfied.</p>
            <p>These terms shall apply to the maximum extent permitted by applicable law. If the laws of your
              jurisdiction prohibit the application of some or all of the provisions, of this section alone, such
              provisions will not apply to you.</p>
            <p>Except as otherwise expressly stipulated in these Terms of Sale, in the event that any provision of these
              Terms of Sale shall be held by a court or other tribunal of competent jurisdiction to be unenforceable,
              such provision will be enforced to the maximum extent permissible and the remaining portions of this
              Agreement shall remain in full force and effect. These Terms of Sale, the Reseller’s Privacy Policy and
              the Members Programs Terms and Conditions constitute and contain the entire agreement between the parties
              with respect to the subject matter hereof and supersedes any prior oral or written agreements.</p>
            <p>If you believe that your rights are being infringed, please contact us. We respond expeditiously to
              rights owners and their agents to communicate concerns about any alleged infringement.</p>
            <p>Upon receipt of your infringement notice we may take certain actions, including removing information or
              an item, all of which are taken without any admission as to liability and without prejudice to any rights,
              remedies or defenses, for all of which we hold an unmitigated discretion to execute. Furthermore, by
              submitting an infringement notice, you grant the Reseller the right to use, reproduce, modify, adapt,
              publish, translate, create derivative works from, and display its content throughout the world in any
              media. This includes forwarding your infringement notice to the parties involved in the provision of the
              allegedly infringing content. You agree to indemnify the Reseller for all claims brought by a third party
              against the Reseller arising out of or in connection with the submission of your infringement notice.</p>
            <p><b>Customs</b></p>
            <p>You agree to comply with all applicable import/export laws and regulations. You agree not to export the
              Product or allow use of your Account by individuals of situated in a country subject to an embargo or
              prohibition of any form from the US government, the European Union or NATO. You represent and warrant that
              you are not located in, under the control of, or a national or resident of any such prohibited
              country.</p>
            <p>When ordering products from the Reseller for delivery outside of the USA you may be subject to import
              duties and taxes, which are levied once the package reaches the specified destination. Any additional
              charges for customs clearance must be borne by you; we have no control over these charges. Customs
              policies vary widely from country to country, so you should contact your local customs office for further
              information. Additionally, please note that, you are considered the importer of record and must comply
              with all laws and regulations of the country in which you are receiving the products. Your privacy is
              important to us and we would like our international customers to be aware that cross-border deliveries are
              subject to opening and inspection by customs authorities.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
