@import "../../../../styles.css";

.beacon-table {
  /*  display: block;
    overflow-x: auto;*/
  margin-top: -4vh;

  .head-th {
    font-size: 14px;
    padding-bottom: 20px !important;
  }

  .body-th {
    font-size: 14px;
    font-weight: 100;
  }

  .body-tr:hover {
    cursor: pointer;
  }

  .beacon-cb-block {
    margin-top: -25px;
  }
}

table tr {
  padding-bottom: 0 !important;
  height: 52px;
}

table th {
  border-top: none !important;
  padding-top: 0.5rem;
}

/deep/ .card-header-right {
  display: none !important;
}

.commission-block {
  display: flex;
  align-items: center;
  background: white;
  height: 12vh;
  margin-bottom: 3vh;

  .commission-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    border-right: 1px solid #696c65;
    height: 67%;
    margin-top: -1vh;

    .header-label {
      color: #696c65;
      font-weight: 500;
    }

    label {
      font-weight: 600;
    }
  }

  #last-column {
    border: none;
  }
}

#view-commissions-label {
  color: #696c65;
  font-weight: 500;
  text-align: right;
  margin-top: 1vh;
}

.custom-td {
  width: 200px;
}

.dt-desc {
  padding-bottom: 50px;
}

#no-affiliates-label {
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

 /deep/ .datatable-header-cell.datatable-header-cell.sortable.resizeable {
 // width: 250px !important;
}

 /deep/ .datatable-body-cell.datatable-body-cell.sort-active {
   //width: 250px !important;
 }

 .row-label {
   width: 230px;
 }

 /deep/ .expandable datatable-body-cell + datatable-body-cell, .expandable datatable-header-cell + datatable-header-cell {
   width: 241px !important;
 }
