<ngx-loading [show]="loading"></ngx-loading>

<div class="form-group row">
  <div class="col-sm-6"></div>
  <label class="col-sm-3 col-form-label" id="view-commissions-label">View Commissions For</label>
  <div class="col-sm-3">
    <select (change)="onMonthChange()" [(ngModel)]="selectedMonth" name="select" class="form-control">
      <option value="10">October 2017</option>
      <option value="9">September 2017</option>
      <option value="8">August 2017</option>
      <option value="7">July 2017</option>
    </select>
  </div>
</div>


<div class="commission-block">
  <div class="commission-item">
    <label class="header-label">Current Rank</label>
    <label *ngIf="commissionHeader.gem_level != null">{{commissionHeader.gem_level}}</label>
  </div>

  <div class="commission-item">
    <label class="header-label">Total revenue (this month)</label>
    <label *ngIf="commissionHeader.monthly_revenue != null">${{commissionHeader.monthly_revenue}}</label>
  </div>

  <div class="commission-item">
    <label class="header-label">Cash bonus (this month)</label>
    <label *ngIf="commissionHeader.cash_bonus_amount != null">${{commissionHeader.cash_bonus_amount}}</label>
  </div>

  <div class="commission-item" id="last-column">
    <label class="header-label">Monthly Earnings (this month)</label>
    <label *ngIf="commissionHeader.monthly_earnings != null">${{commissionHeader.monthly_earnings}}</label>
  </div>
</div>

<app-card [title]="'COMMISSIONS'" [classHeader]="false">
 <!-- <div class="table-responsive">
    <table class="table table-hover beacon-table">
      <thead>
      <tr>
        <th class="head-th">NAME</th>
        <th class="head-th">1ST Level Volume</th>
        <th class="head-th">2ND Level Volume</th>
        <th class="head-th">Status</th>
      </tr>
      </thead>

      <tbody>
      <tr class="body-tr" *ngFor="let child of children; let i = index">
        <th class="body-th">{{child.name}}<br>{{child.email}}</th>

        <th *ngIf="child.subscription_amount == null" class="body-th">&#45;&#45;</th>
        <th *ngIf="child.subscription_amount != null" class="body-th">${{child.subscription_amount}}</th>

        <th *ngIf="child.monthly_revenue == 0" class="body-th">&#45;&#45;</th>
        <th *ngIf="child.monthly_revenue != 0" class="body-th">${{child.monthly_revenue}}</th>


        <th class="body-th">{{child.status}}</th>
      </tr>
      </tbody>

    </table>
  </div>-->


  <span class="code-header">use class <code>expandable</code> and <code>data-table</code> inside ngx-datatable element with <code>ngx-datatable-column</code> elements</span>
  <ngx-datatable
    #myTable
    class="data-table expandable"
    [rows]='children'
    [limit]="20"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [count]="5"
    (page)="onPage($event)">

    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

        <label id="no-affiliates-label" *ngIf="innerChildrens.length == 0">No affiliates</label>


        <div *ngIf="innerChildrens.length > 0" class="dt-desc">
<!--
          <table class="table-striped table-bordered ">
-->

          <table class="table-striped">
              <tr class="custom-tr" *ngFor="let innerChild of innerChildrens">
                <td class="custom-td">{{innerChild.name}}</td>
                <td class="custom-td">{{innerChild.subscription_amount}}</td>
                <td class="custom-td">{{innerChild.monthly_revenue}}</td>
                <td class="custom-td">{{innerChild.status}}</td>
              </tr>
          </table>
        </div>

      </ng-template>
    </ngx-datatable-row-detail>



    <ngx-datatable-column
      [width]="51"
      [minWidth]="51"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a
          href="javascript:;"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column
      [resizeable]="false"
      [minWidth]="212"
      [width]="212" name="NAME">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <strong class="row-label">{{row['name']}}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [resizeable]="false"
      [sortable]="false"
      [minWidth]="212"
      [width]="212" name="1ST Level Volume">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <strong *ngIf="row['subscription_amount'] == null">--</strong>
        <strong *ngIf="row['subscription_amount'] != 0">{{row['subscription_amount']}}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [resizeable]="false"
      [sortable]="false"
      [minWidth]="212"
      [width]="212" name="2ND Level Volume">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <strong *ngIf="row['monthly_revenue'] == 0">--</strong>
        <strong *ngIf="row['monthly_revenue'] != 0">{{row['monthly_revenue']}}</strong>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column
      [minWidth]="212"
      [width]="212"
      [resizeable]="false"
      name="Status">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <strong>{{row['status']}}</strong>
      </ng-template>
    </ngx-datatable-column>
<!--
    <ngx-datatable-column name="Age"></ngx-datatable-column>
-->
  </ngx-datatable>


</app-card>
